﻿<script>
    var pageId = 40; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>KWU - Class A EQ Biosolids</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <div class="mobile-secondary-menu " style="max-width:200px; border:none;">
            <div class="nav-link">
                <!-- <p><a href="#biosolids-epa-limits-average" class="orange">EPA Limits & Average</a></p> -->
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title boisolid-title no-border">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button" ></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>KWU - Class A EQ Biosolids</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link">
                    <!--<p><a href="#biosolids-epa-limits-average" class="orange">EPA Limits & Average</a></p>-->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/KWU/Biosolids-Dried.png" alt="Biosolids Dried" />
                            </li>
                            <li>
                                <img src="images/KWU/Biosoilds-Plants.png" alt="Biosolids Plants" />
                            </li>
                            <li>
                                <img src="images/KWU/EPA Limits.svg" alt="EPA Limits" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="product-overview-title" class="border-bottom">Class A Biosolids</h1>
                    <div class="product-overview-content">
                        <p>Produced by the Kenosha Water Utility Wastewater Treatment Plant (KWU WWTP), Kenosha’s Class A Exceptional Quality biosolids product is a <strong>slow releasing soil amendment</strong> that supplies essential nutrients such as nitrogen and phosphorus along with other micronutrients. The biosolids are regulated by the Wisconsin Department of Natural Resources (WDNR) and meet or exceed standards for metals, pathogen reduction, heating and drying.</p>
                        <p style="margin-bottom:0px;"><strong>What are Class A Biosolids?</strong></p>
                        <p>The US Environmental Protection Agency (EPA) sets the pathogen limits for a recycled product from wastewater treatment plants. The Class A biosolids are produced by heating to over 176 &deg;F and dried to a moisture content of less than 10% to ensure the <strong>complete destruction of pathogens</strong>.</p>
                        <p>The KWU biosolids meet the <strong>strictest standards</strong> for heavy metal content set by the EPA by testing the metals and pathogens bi-monthly. This earned KWU the distinction of Exceptional Quality Biosolids.</p>
                    </div>
                        </div> <!-- /.column -->
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->

</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>