﻿<script>
    var pageId = 6; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    //App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    $("#pageVersionId").text("Static Generated");
    $("#statusBar").hide();
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>CalPrex<sup style="font-size:10px;">&reg;</sup> Pre-Digestion P-Recovery</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->
        <style>
            .is-fixed-top.scrolled .mobile-secondary-menu .nav-link {
                margin: 0 10px;
                align-self: center;
                align-items: center;
            }
        </style>
        <div class="mobile-secondary-menu" style="max-width:750px;">
            <div class="nav-link">
                <p><a href="#calprex-how-it-works" class="blue">How It Works</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#calprex-videos" class="blue">Videos</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#calprex-wef-pilot-project" class="blue">WEF Pilot Project</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#calprex-installations" class="blue">Pilot Tests</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/magprex-calprex-2" class="blue">CalPrex + MagPrex</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title calprex-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button blue-arrow"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>CalPrex<sup style="font-size:10px;">&reg;</sup> Pre-Digestion P-Recovery</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#calprex-how-it-works" class="blue">How It Works</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#calprex-videos" class="blue">Videos</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#calprex-wef-pilot-project" class="blue">WEF Pilot Project</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#calprex-installations" class="blue">Pilot Tests</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/magprex-calprex-2" class="blue">CalPrex + MagPrex</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    <!-- Benefits - Image Left - Bullets Right -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <img src="images/calprex/CalPrex-Pilot-Unit-Madison-resized.png" alt="CalPrex Pilot Unit Madision" />
                </div>

                <div class="column text-right">
                    <h1 class="product-overview-title blue">CalPrex<sup style="font-size:16px;">&reg;</sup> Pre-Digestion P-Recovery</h1>
                    <h2 class="product-overview-subtitle border-bottom"><strong>High Efficiency</strong> P-Recovery and Digester Protection</h2>
                    <div class="product-overview-content">
                        <ul class="icon-ul">
                            <!--<li class="icon-solubilized">Over <strong>65%</strong> solubilization of P in Bio-P sludge</li>-->
                            <li class="icon-truck" style="margin-bottom: 20px;"><div class="icon-text">Reduce disposal costs up to <strong>50%</strong></div></li>
                            <li class="icon-digester" style="margin-bottom: 20px;"><div class="icon-text">Divert over <strong>70%</strong> of the soluble P from the digester</div></li>
                            <li class="icon-scroll" style="margin-bottom: 20px;"><div class="icon-text">Reduce up to <strong>50%</strong> of the total P in biosolids</div></li>
                            <li class="icon-digester" style="margin-bottom: 20px;"><div class="icon-text">Reduce <strong>struvite buildup</strong> in the methane digester</div></li>
                            <li class="icon-ammonium" style="margin-bottom: 20px;"><div class="icon-text"><strong>NO</strong> ammonium required</div></li>
                            <li class="icon-fertilizer" style="margin-bottom: 20px;"><div class="icon-text">Create a <strong>valuable fertilizer</strong> as brushite</div></li>
                            <li class="icon-molecule" style="margin-bottom: 20px;"><div class="icon-text">Reduce <strong>polymer</strong> consumption</div></li>
                        </ul>
                        </div>
                    </div>
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->

    <!-- In-Page Content Section Divider -->
    <div class="section-divider padding-top" id="calprex-how-it-works">
        <div class="container">
            <h1>How It Works</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/calprex/CalPrex-Pilot-Unit-Woodridge.jpg" alt="CalPrex Pilot Unit Woodridge" />
                            </li>
                            <li>
                                <img src="images/calprex/Steady State Logo.svg" alt="Steady State Logo" />
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="column text-right">
                    <h1 class="how-it-works-title blue border-bottom">Fermentation: the Biological Solution for P Solubilization</h1>
                    <h2 class="how-it-works-subtitle"></h2>
                    <div class="how-it-works-content">
                    <p>CalPrex works with <strong>high concentrations</strong> of soluble phosphorus and is a <strong>viable solution</strong> for utilities seeking to mitigate operations and maintenance issues related to struvite scaling and poor sludge dewaterability.</p>

                    <p>The end recovered product, brushite, is a fertilizer comparable to leading phosphate fertilizers on the market today.</p>

                    <p style="margin-bottom: 10px;">This high-value solution is for facilities needing phosphorus removal and recovery:</p>

                    <ul style="list-style-type:disc; margin-left:22px;">
                        <li class="list4">Prior to thermal hydrolysis</li>
                        <li class="list4">From waste activated sludge and/or primary sludge prior to anaerobic digestion</li>
                        <li style="margin-bottom: 10px;">From aerobic or post-aerobic digestion (PAD)</li>
                    </ul>

                    <p>CalPrex reactor sits between the fermentation tank and gas phase digesters.</p>

                    <ul style="list-style-type: disc; margin-left:22px">
                        <li class="list4">
                            Fermentation for 12-36 hours prior to the anaerobic digester provides a low-oxygen environment

                            <ul style="list-style-type:circle;">
                                <li class="list1">Facilitates the <strong>rapid release of soluble phosphorus</strong> in Bio-P sludge along with the dissolution of crystalized and organically-bound phosphorus</li>
                                <li class="list1">Over 60% solubilization of P can occur in the fermentation without using any additional chemicals</li>
                                <li class="list1">In non-Bio-P plants, up to 40% of the phosphorus solubilizes using a fermentation step</li>
                            </ul>
                        </li>
                        <li class="list4">Fermented sludge is dewatered</li>
                        <li>
                            Centrate is sent to the CalPrex reactor

                            <ul style="list-style-type:circle; margin-bottom: 10px;">
                                <li class="list1">Centrate precipitates the dissolved phosphorus with the addition of calcium hydroxide</li>
                                <li class="list1">Maintains the solution around <strong>6.5 pH</strong></li>
                                <li class="list1">Recovers phosphorus as a brushite crystal (CaHPO<sub>4</sub>• 2H<sub>2</sub>O)</li>
                            </ul>
                        </li>
                    </ul>

                    <p>Want to recover even more phosphorous? <a href="#/magprex-calprex-2" class="blue">Learn more when you combine CalPrex and MagPrex</a>.</p>

                    <p><em>Steady State™ is a sustainable fertilizer brand by Nutrient Recovery and Upcycling (NRU). NRU is the distribution channel for the recovered nutrients from MagPrex and CalPrex. To learn more, visit <a href="https://www.newsteadystate.com/" target="_blank" class="blue">www.newsteadystate.com</a> or <a href="https://www.nrutech.com/" target="_blank" class="blue">www.nrutech.com</a>.</em></p>
                </div>
                    </div>
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Full Width Image Gallery Slider -->
    <div class="full-width-slider">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="full-width-flexslider blue-slider-arrows">
                        <ul class="slides">
                            <li>
                                <img src="images/calprex/CalPrex-Flow-Diagram-wLabels-2021.png" alt="CalPrex Flow Diagram" />
                            </li>
                            <li >
                                <img src="images/calprex/CalPrex Chart.svg" alt="CalPrex chart" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.full-width-slider -->
    <!-- In-Page Content Section Divider -->
    <div class="section-divider padding-top" id="calprex-videos">
        <div class="container">
            <h1>Videos</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->
    <!-- Video Gallery -->
    <div class="video-gallery" id="videos">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Calprex Centrate-73.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/CalPrex-Centrate-thumb.png" alt="What the CalPrex Centrate Looks Like" />
                        </a>
                    </div>

                    <h3 class="blue">Phosphorus Rich Centrate from the CalPrex Process</h3>
                </div> <!-- /.column -->

                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Calprex Pilot Madison-75.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/CalPrex-Pilot-Madison-thumb.png" alt="Nine Spring Wastewater Treatment Plant Madison, Wisconsin Pilot Test" />
                        </a>
                    </div>

                    <h3 class="blue">Nine Spring Wastewater Treatment Plant | Madison, Wisconsin Pilot Test</h3>
                </div> <!-- /.column -->

                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Getting The Most From A Nutrient Recovery Process.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/Getting-the-Most-From-a-Nutrient-Recovery-Process-thumb.png" alt="Getting the Most From a Nutrient Recovery Process" />
                        </a>
                    </div>

                    <h3 class="blue">Getting the Most From a Nutrient Recovery Process</h3>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.video-gallery -->
    <!-- In-Page Content Section Divider -->
    <div class="section-divider padding-top" id="calprex-wef-pilot-project">
        <div class="container">
            <h1>WEF Pilot Project</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <img src="images/calprex/CalPrex-System-Layout-GA.png" alt="CalPrex System Layout GA" />
                </div>

                <div class="column text-right">
                    <h1 class="blue border-bottom">Water Research Foundation (WRF) Pilot Recovered the <strong>Highest Rate</strong> of Total P</h1>

                    <p>The CalPrex pilot ran at Nine Springs Treatment Plant, 42 MGD facility in Madison, Wisconsin in 2018. The pilot was a 10 gallon per minute system.</p>

                    <ul style="list-style-type:disc; margin-left:22px;">
                        <li class="list4">Pilot between the acidogenic and methanogenic digesters</li>
                        <li class="list4">CalPrex fed with acid digest</li>
                        <li class="list4">[1] Centrisys CS10-4 decanter centrifuge dewatered the feed to 20% solids, which were conveyed to a [2] recombination tank</li>
                        <li class="list4">Centrate dosed with [3] calcium hydroxide, causing the precipitation brushite, a form of phosphorus</li>
                        <li class="list4">Brushite settled in a lamella clarifier</li>
                        <li class="list4">Clarifier overflow recombined with the [2] acid digest cake and discharged to the methanogenic digester</li>
                        <li class="list4">Settled brushite dewatered and cake dried as a <strong>high-quality fertilizer</strong> for a USDA-funded fertilizer study</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <img src="images/calprex/Brushite.png" alt="Brushite" />
                </div>

                <div class="column text-right">
                    <h1 class="blue border-bottom">Pilot Results: Nine Springs Treatment Plant</h1>

                    <ul class="icon-ul">
                        <li class="icon-solubilized" style="margin-bottom: 20px;"><div class="icon-text">Solubilized <strong>66%</strong> of the feed phosphorus</div></li>
                        <li class="icon-minerals" style="margin-bottom: 20px;"><div class="icon-text">Mineralized <strong>90%</strong> of the feed phosphorus</div></li>
                        <li class="icon-fertilizer" style="margin-bottom: 20px;"><div class="icon-text">Recovered <strong>70%</strong> of the feed soluble phosphorus as brushite</div></li>
                        <li class="icon-scroll" style="margin-bottom: 20px;"><div class="icon-text">Recovered <strong>45%</strong> total phosphorus</div></li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <img src="images/calprex/Brushite-Jars.jpg" alt="Brushite Jars" />
                </div>

                <div class="column text-right">
                    <h1 class="blue border-bottom">11 Organizations Involved in WRF Pilot</h1>

                    <ul style="list-style-type:disc; margin-left:22px; margin-bottom: 10px;">
                        <li class="list4">Water Research Foundation (WRF)</li>
                        <li class="list4">Nine Springs Treatment Plant (Madison, Wisconsin)</li>
                        <li class="list4">Milwaukee Metropolitan Sewerage District (Milwaukee, Wisconsin)</li>
                        <li class="list4">Metro Wastewater Reclamation District (Denver, Colorado)</li>
                        <li class="list4">Massachusetts Water Resources Authority (Boston, Massachusetts)</li>
                        <li class="list4">Colorado School of Mines (Golden, Colorado)</li>
                        <li class="list4">University of Wisconsin-Madison (Madison, Wisconsin)</li>
                        <li class="list4">Black and Veatch (Madison, Wisconsin)</li>
                        <li class="list4">Hazen and Sawyer (Virginia Beach, Virginia)</li>
                        <li class="list4">Centrisys/CNP (Kenosha, Wisconsin)</li>
                        <li class="list4">Nutrient Recovery and Upcycling (Madison, Wisconsin)</li>
                    </ul>
                    <p>WRF published a peer-reviewed study to elaborate on the CalPrex process performance, benefits, costs and larger scale impact.</p>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Full Width Image Gallery Slider -->
    <div class="full-width-slider">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="full-width-flexslider blue-slider-arrows">
                        <ul class="slides">
                            <li>
                                <img src="images/calprex/CalPrex Influent Soluble Chart 2021 (1).svg" alt="Influent Soluble Chart" />
                            </li>
                            <li>
                                <img src="images/calprex/CalPrex Soluble P Chart 2021.svg" alt="Soluble P Chart" />
                            </li>
                            <li>
                                <img src="images/calprex/CalPrex P Recovery Chart 2021.svg" alt="P Recovery Chart" />
                            </li>
                            <li>
                                <img src="images/calprex/CalPrex Recovery Efficiency Chart 2021.svg" alt="Recovery Efficiency Chart" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.full-width-slider -->
    <!-- In-Page Content Section Divider -->
    <div class="section-divider padding-top" id="calprex-installations">
        <div class="container">
            <h1>Pilot Tests</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->
    <!-- Installations Map -->
    <div class="installations-map" id="installations">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <!--<img src="images/img-install-map-us.svg" alt="North America Map" />-->
                    <h3 class="blue">North America</h3>
                    <p><a href="#/pilot-test-madison" class="blue">Madison Metropolitan Sewerage District</a> <span>Madison, Wisconsin</span></p>
                    <p><a href="#/pilot-test-woodridge" class="blue">Woodridge Greene Valley Wastewater Treatment Facility</a> <span>Woodridge, Illinois</span></p>
                </div> <!-- /.column -->

                <div class="column">

                </div> <!-- /.column -->

                <div class="column">

                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.installations-map -->
</div>
