﻿<script>
    var pageId = 59; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <a href="#" class="back-btn"><div class="back-button"></div></a>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>Centrifuge Repair</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <div class="mobile-secondary-menu" style="max-width:700px;">
            <div class="nav-link margin-20">
                <p><a href="#centrifuge-repair-videos" class="orange">Videos</a></p>
            </div> <!-- /.column -->

            <div class="nav-link margin-20">
                <p><a href="#/service-repair" class="orange">Service and Repair</a></p>
            </div> <!-- /.column -->

            <div class="nav-link margin-20">
                <p><a href="#/centrifuge-spare-replacement-parts" class="orange">Centrifuge Spare and Replacement Parts</a></p>
            </div> <!-- /.column -->

            <div class="nav-link margin-20">
                <p><a href="#/centrifuge-upgrades" class="orange">Centrifuge Upgrades</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title centrifuge-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Centrifuge Repair</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#centrifuge-repair-videos" class="orange">Videos</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/service-repair" class="orange">Service and Repair</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/centrifuge-spare-replacement-parts" class="orange">Centrifuge Spare and Replacement Parts</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/centrifuge-upgrades" class="orange">Centrifuge Upgrades</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/service/Shop-MovingBowl.png" alt="Shop Moving Bowl" />
                            </li>
                            <li>
                                <img src="images/service/shop-scroll.png" alt="Shop scrolls"/>
                            </li>
                            <li>
                                <img src="images/service/shop-writingonscroll.png" alt="Writing on scrolls"/>
                            </li>
                            <li>
                                <img src="images/service/VCS.png" alt="VCS" />
                            </li>
                            <li>
                                <img src="images/service/Shop-ForkLift.png" alt="Shop Fork Lift" />
                            </li>
                            <li>
                                <img src="images/service/Shop-Welding.png" alt="Shop Welding" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="product-overview-title">Centrifuge Repair</h1>
                    <h2 class="product-overview-subtitle border-bottom">Urgent Centrifuge Repair Response, Because You Can't Afford to Wait</h2>
                    <div class="product-overview-content">
                        <p>We’re here when you need us most. We provide <strong>centrifuge repair, maintenance, rebuild, refurbish and process improvement</strong> services for all makes and models of decanter centrifuges. It’s our job to make sure you get the most out of your separation equipment and to get your decanter centrifuge back up and running as quickly as possible.</p>

                        <p style="margin-bottom:0px">Our service team efficiently repairs centrifuges by:</p>

                        <ul style="list-style-type:disc; margin-left:22px">
                            <li class="list4">
                                Hiring and training <strong>experienced</strong> centrifuge service technicians and machinists

                                <ul style="list-style-type:circle;">
                                    <li class="list1">Shop service</li>
                                    <li class="list1">Field service</li>
                                    <li class="list1">Virtual Centrifuge Service (VCS) - a service technician works remotely with you using your laptop webcam, smartphone or tablet to guide you through a wide range of centrifuge maintenance, repair and optimization scenarios</li>
                                </ul>
                            </li>
                            <li class="list4">
                                Measuring and analyzing critical fits and dimensions to a damaged centrifuge, component or part

                                <ul style="list-style-type:circle;">
                                    <li class="list1">Completes the repair with either an <strong>OEM part</strong> or an <strong>aftermarket replacement part</strong></li>
                                    <li class="list1">Suggests superior aftermarket replacement part that enhances the centrifuge performance or improves the longevity and wear resistance</li>
                                </ul>
                            </li>
                            <li class="list4">Sizing and evaluating all wear components and scrolls to <strong>original standards</strong></li>
                            <li class="list4">
                                Using SOLIDWORKS (3D CAD software) and Finite Element Analysis (FEA - for stress testing), our mechanical engineers:

                                <ul style="list-style-type:circle;">
                                    <li class="list1">Examines the safety levels of a decanter centrifuge and its parts by analyzing wear points, friction and stress factors</li>
                                    <li class="list1">Evaluates the failure of fatigue with a <strong>3:1 safety factor</strong> with real-world performance predictability to evaluate the durability of your centrifuge and its parts</li>
                                </ul>
                            </li>
                            <li class="list4">
                                In-house fabrication and machining capabilities available for <strong>all decanter centrifuge brands, centrifuges and its parts</strong>

                                <ul style="list-style-type:circle;">
                                    <li class="list1">Available for Centrisys and all competitor's centrifuges</li>
                                    <li class="list1">Typically quicker than shipping centrifuges or parts from overseas</li>
                                    <li class="list1">Ideal for discontinued components</li>
                                </ul>
                            </li>
                            <li>Refurbished standard rotating assembly and scroll <strong>exchange programs</strong> allow for the quickest service turnaround possible</li>
                        </ul>
                        </div>
                    </div> <!-- /.column -->
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/service/Equipment-Bunker.png" alt="Equipment Bunker" />
                            </li>
                            <li>
                                <img src="images/service/Equipment-VMC-v22.png" alt="Equipment VMC" />
                            </li>
                            <li>
                                <img src="images/service/Equipment-Lathes.png" alt="Equipment Lathes" />
                            </li>
                            <li>
                                <img src="images/service/Equipment-BoringMills.png" alt="Equipment Boring Mills" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="border-bottom">We continue to expand our service capabilities</h1>

                    <p>Being a leader in decanter centrifuge repair requires investing in sophisticated equipment to deliver the best results.</p>

                    <ul style="list-style-type:disc; margin-left:22px">
                        <li>
                            Dynamic, high-speed, hard bearing balancers

                            <ul style="list-style-type:circle; margin-bottom: 10px">
                                <li class="list1">Schenck Process HM7U balancer resides in an <strong>underground balancing bunker</strong></li>
                                <li class="list1">Operating at speeds up to 4,000 rpm allows centrifuges to be <strong>balanced at speed</strong> or above operating speeds to reduce vibrations, unnecessary bearing damage and lower the costs for your centrifuge</li>
                                <li class="list1">Separate operator station: <strong>keeps our operator safe</strong> and provides noise reduction during high-speed balancing</li>
                                <li class="list1">Equipped to monitor, record and transmit results both onsite and remotely; customers not present for balancing at our shop can <strong>access the balancing readings via a web interface</strong></li>
                            </ul>
                        </li>
                        <li style="margin-bottom: 10px">Horizontal boring mills for scroll, bearing housing and frame repair</li>
                        <li style="margin-bottom: 10px">(2) Plasma cutters for scroll flight fabrication and repair</li>
                        <li style="margin-bottom: 10px">(3) Large manual engine lathes for machining bowls, scrolls and scroll shafts</li>
                        <li style="margin-bottom: 10px">(2) Vertical machining centers (VMCs) for machining conicals and large headwalls</li>
                        <li style="margin-bottom: 10px">Dust ventilation for removing harmful fumes and particles for our welders</li>
                    </ul>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->

    <!-- In-Page Content Section Divider -->
    <div class="section-divider padding-top" id="centrifuge-repair-videos">
        <div class="container">
            <h1>Videos</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->

    <!-- Video Gallery -->
    <div class="video-gallery" id="videos">
        <div class="container">
            <div class="columns">
                <div class="column ">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Balancing Bunker-56.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/Balancing-Bunker-thumb.PNG" alt="Why did we build a decanter centrifuge balancing bunker?" />
                        </a>
                    </div>

                    <h3>Why did we build a decanter centrifuge balancing bunker?</h3>
                </div> <!-- /.column -->

                <div class="column">

                </div> <!-- /.column -->

                <div class="column">

                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.video-gallery -->
</div>
