﻿<script>
    var pageId = 56; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <a href="#" class="back-btn"><div class="back-button"></div></a>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>Centrifuge Upgrades</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <div class="mobile-secondary-menu" style="max-width:630px;">
            <div class="nav-link">
                <p><a href="#/service-repair" class="orange">Service and Repair</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/centrifuge-repair" class="orange">Centrifuge Repair</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/centrifuge-spare-replacement-parts" class="orange">Centrifuge Spare and Replacement Parts</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title upgrade-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Centrifuge Upgrades</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/service-repair" class="orange">Service and Repair</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/centrifuge-repair" class="orange">Centrifuge Repair</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/centrifuge-spare-replacement-parts" class="orange">Centrifuge Spare and Replacement Parts</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/service/Control-Panel-1.png" alt="Control Panel" />
                            </li>
                            <li>
                                <img src="images/service/Service-1.png" alt="Service" />
                            </li>
                            <li>
                                <img src="images/service/Control-Panel-2.png" alt="Control Panel" />
                            </li>
                            <li>
                                <img src="images/service/Control-Panel-3.png" alt="Control Panel" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="product-overview-subtitle product-overview-title">Centrifuge Upgrades</h1>
                    <h2 class="border-bottom">Enhance performance and extend the life of your decanter centrifuge</h2>
                    <div class="product-overview-content">
                        <p>Upgrading older decanter centrifuge models brings them up to the performance level of newer generations and models. In addition to improving productivity and performance, upgrades offer tremendous financial benefit because they extend the life of the centrifuge. <strong>We upgrade all makes, models and brands of decanter centrifuges</strong>.</p>

                        <ul style="list-style-type:disc; margin-left:22px;">
                            <li class="list4"><strong>Upgrade</strong>: A modification that enhances the decanter centrifuge to look or perform better; typically to the control panel or centrifuge</li>
                            <li class="list4"><strong>Retrofit</strong>: A modification from the original design by adding new technology to an older decanter centrifuge; refers to removing the old gearbox and retrofitting with our Viscotherm ROTODIFF<sup>®</sup> Hydraulic Drive System</li>
                            <li class="list4"><strong>Rebuild/overhaul</strong>: refurbish the centrifuge to the original condition without any modifications</li>
                        </ul>
                        </div>
                    </div> <!-- /.column -->
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/service/Upgrade-Rotodiff.png" alt="Upgrade Rotodiff" />
                            </li>
                            <li>
                                <img src="images/service/Upgrade-Sharples-BeforeAfter.png" alt="Upgrade Sharples Before After" />
                            </li>
                            <li>
                                <img src="images/service/Upgrade-ADM-Clinrton.png" alt="Upgrade ADM Clinrton" />
                            </li>
                            <li>
                                <img src="images/service/Upgrade-SamsagBeforeAfter.png" alt="Upgrade Samsag Before After" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="border-bottom">Improve Your Decanter Centrifuge Process</h1>

                    <p>Performing an upgrade, retrofit or rebuild to your decanter centrifuge provides numerous benefits. For older centrifuges, backdrive or control panel parts can be scarce or discontinued. Installing updated technology allows your centrifuge to run more efficiently.</p>

                    <ul style="list-style-type: disc; margin-left: 21px;">
                        <li style="margin-bottom:10px;"><strong>Reduce maintenance, increase uptime and lower hauling costs</strong>: equipment performs better, is more reliable and lasts longer from an updated control panel, backdrive or basic centrifuge maintenance</li>
                        <li>
                            <strong>Control panel enhancements:</strong> update with current electronics to increase performance, capability and efficiency

                            <ul style="list-style-type:circle;">
                                <li class="list1">Replace SCADA systems, VFD controlled main motors or outdated control systems with the latest PLC technology</li>
                                <li class="list1"><strong>Dedicated electrical engineers</strong> specialize in re-writing or reverse-engineering programs to work just as well, if not better, than the original programs when obsolete parts are replaced in a panel</li>
                                <li class="list1">Thoroughly <strong>test platforms</strong> to ensure the software is reliable for the customer; we don't want you to be the guinea pig to new technology</li>
                                <li class="list1"><strong>Provide risk mitigation</strong>: we know uptime is critical; when parts are obsolete or being phased out, we help you evaluate whether using the same part or changing to the updated version is cost-effective for your company</li>
                                <li class="list1" style="margin-bottom: 10px;"> <strong>Reduce operator intervention</strong>: technology changes quickly and an older centrifuge can benefit with program changes or touch screen software that automates the controls and makes the centrifuge easier to use with just one click</li>
                            </ul>
                        </li>
                        <li>
                            Viscotherm ROTODIFF<sup style="font-size:10px;">®</sup> Hydraulic Drive System retrofit

                            <ul style="list-style-type:circle;">
                                <li class="list1">Higher torque-to-weight ratio: Achieve <strong>dryer solids</strong>, precise <strong>speed control</strong> and <strong>increase throughput capacity</strong></li>
                                <li class="list1"><strong>Simplifies the design</strong> and radically reduces the number of moving parts and wear components compared to a gearbox</li>
                                <li class="list1">Increase energy efficiency: <strong>use only the energy needed</strong> for the scroll drive as it's independent from the maindrive; power is <strong>not lost or wasted</strong> from the maindrive</li>
                                <li class="list1"><strong>Recover energy at shut down</strong>: CERS (Centrifuge Energy Recovery System) state-of-the-art technology captures energy from the rotating bowl and allows for seamless backup with continued operation for controlled scroll speed</li>
                                <li class="list1" style="margin-bottom:10px"><strong>Eliminate chattering</strong>: chattering occurs when the scroll has a moving and stopping motion; this creates back pressure and reduces output and creates wetter solids</li>
                            </ul>
                        </li>
                    </ul>

                    <p><i>One of the largest USA food processors reached its ROI in just two years when upgrading 50 centrifuges with a Viscotherm ROTODIFF<sup>®</sup> Hydraulic Drive System.</i></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
</div>
