﻿<script>
    var pageId = 55; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <a href="#" class="back-btn"><div class="back-button"></div></a>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>Centrifuge Spare and Replacement Parts</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <div class="mobile-secondary-menu spare-title">
            <div class="nav-link">
                <p><a href="#/service-repair" class="orange">Service and Repair</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/centrifuge-repair" class="orange">Centrifuge Repair</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/centrifuge-upgrades" class="orange">Centrifuge Upgrades</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title spare-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Centrifuge Spare and Replacement Parts</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->
                <div class="nav-link">
                    <p><a href="#/service-repair" class="orange">Service and Repair</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/centrifuge-repair" class="orange">Centrifuge Repair</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/centrifuge-upgrades" class="orange">Centrifuge Upgrades</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/service/Warehouse-1.png" alt="Warehouse" />
                            </li>
                            <li>
                                <img src="images/service/Warehouse-2.png" alt="Warehouse" />
                            </li>
                            <li>
                                <img src="images/service/MachineShop-WorkingOnBoringMill.png" alt="Machine Shop Working On Boring Mill" />
                            </li>
                            <li>
                                <img src="images/service/MachineShop.png" alt="Machine Shop" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1>Centrifuge Spare and Replacement Parts</h1>
                    <h2 class="border-bottom">In-stock decanter centrifuge parts ensure prompt delivery</h2>

                    <p>It's simple. If you don't have the centrifuge part you need, your decanter centrifuge can't be repaired. That is why the Centrisys centrifuge parts warehouse has an <strong>inventory of over $9 million centrifuge parts</strong>.</p>

                    <ul style="margin-left:20px; list-style-type: disc;">
                        <li class="list4"><strong>Dedicated mechanical engineers</strong> utilize SOLIDWORKS with the centrifuge service and engineering teams to analyze wear patterns, optimize parts and develop solutions for each centrifuge being repaired</li>
                        <li class="list4">
                            <strong>20,000 square foot parts warehouse and distribution center</strong> – over 100,000 centrifuge parts in-stock. Standard OEM centrifuge parts, ancillary equipment and other technical items stocked to minimize centrifuge downtime including the following centrifuge parts:

                            <ul style="list-style-type:circle;">
                                <li class="list1">Kluber grease</li>
                                <li class="list1">centrifuge bearings (ball, thrust, needle, cylindrical roll)</li>
                                <li class="list1">o-rings</li>
                                <li class="list1">sensors</li>
                                <li class="list1">cables</li>
                                <li class="list1">valves</li>
                                <li class="list1">feed nozzles</li>
                                <li class="list1">gaskets</li>
                                <li class="list1">feed pipes</li>
                                <li class="list1">centrifuge filters</li>
                            </ul>
                        </li>
                        <li class="list4"><strong>Dedicated centrifuge parts specialists</strong> in Kenosha, Wisconsin and Stockton, California for parts quotes, customer questions and communication for quick response time to deliver the parts you need</li>
                        <li class="list4"><strong>Global network of parts suppliers</strong> for centrifuge parts not stocked. What we don't warehouse we can find quickly through our network of suppliers</li>
                        <li class="list4"><strong>Overnight delivery</strong> for in-stock centrifuge parts</li>
                        <li class="list4"><strong>In-house fabrication, machining and welding</strong> for centrifuge parts for quality control and production prioritizing from design through final product</li>
                        <li class="list4"><strong>Quality control department</strong> to measure and control production quality and compliance standards of centrifuge parts</li>
                        <li class="list4"><strong>Standard parts warranties</strong> for OEM and centrifuge parts manufactured at Centrisys</li>
                        <li class="list4">
                            <strong>Centrifuge parts design library</strong> – a turn-key SOLIDWORKS resource for decanter centrifuge parts designed and produced at Centrisys. Our centrifuge parts library has been in development since 1994. It includes parts, components and ancillary equipment from new, re-engineered, reverse engineered and optimized for all makes, models and years of decanter centrifuges including:

                            <ul style="list-style-type:circle;">
                                <li class="list1">Humbolt</li>
                                <li class="list1">Sharples</li>
                                <li class="list1">Andritz</li>
                                <li class="list1">Alfa Laval</li>
                                <li class="list1">GEA</li>
                                <li class="list1">Hiller</li>
                                <li class="list1">Flottweg</li>
                                <li class="list1">Hutchinson and Hayes</li>
                                <li class="list1">Siebtechnik</li>
                                <li class="list1">M-I Swaco</li>
                                <li class="list1">Tomeo</li>
                                <li class="list1">Haus</li>
                                <li class="list1">Hysep</li>
                                <li class="list1">Sweco</li>
                            </ul>
                        </li>
                    </ul>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/service/CA505-BeforeAfter.png" alt="CA505 Before After" />
                            </li>
                            <li>
                                <img src="images/service/MotorbasePlate-BeforeAfter.png" alt="Motorbase Plate Before After" />
                            </li>
                            <li>
                                <img src="images/service/DS706-liner-BeforeAfter.png" alt="DS706 Liner Before After" />
                            </li>
                            <li>
                                <img src="images/service/NX934-1-GutterRing-BeforeAfter.png" alt="NX934 1 Gutter Ring Before After" />
                            </li>
                            <li>
                                <img src="images/service/BowlNozzle-BeforeAfter.png" alt="Bowl Nozzle Before After" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="product-overview-title border-bottom">The Centrisys Parts Manufacturing Difference</h1>
                    <div class="product-overview-content">
                        <p>Centrisys provides parts, repair, re-engineer, reverse engineer and optimizes all decanter centrifuges for any centrifuge brand.</p>

                        <p>Since 1994, SOLIDWORKS 3D CAD software is the Centrisys standard for centrifuge parts 3D modeling and repair. Centrifuge parts are first modeled in 3D to confirm accuracy within an assembly. The centrifuge repair parts are visible as cross-sections, not possible in "the real world."</p>

                        <p>Finite Element Analysis (FEA) capabilities within SOLIDWORKS simulation examine fatigue stress for real-world performance predictability and determines the durability of the part for your centrifuge repair.</p>

                        <p>Design and durability analysis are completed during the preliminary design phase – before the repair is started in the shop.</p>
                    </div> <!-- /.column -->
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
