﻿<script>
    var pageId = 1; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <a href="#" class="back-btn"><div class="back-button" ></div></a>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>Service Agreement</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex&reg; Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <!--<a class="navbar-item" href="#/digester-storage-tanks">LIPP Anaerobic Digesters and Storage Tanks</a>-->
            <!--<span class="navbar-item inactive-link">Passavant<sup>&reg;</sup> hydrograv<sup>&reg;</sup> adapt System</span>-->
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 100px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title no-border">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Service Agreement</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/placeholders/image-left-bullets-right.png" alt="Placeholder" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="product-overview-title border-bottom">Centrisys Service Inspection (CSI) Program – 40+ point inspection</h1>

                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>

                    <h2 class="product-overview-subtitle border-bottom">365 Support?</h2>
                    <div class="product-overview-content">
                        <ul>
                            <li>Unlimited phone support with senior service managers</li>
                            <li>24/7 emergency call line</li>
                            <li>Preferential scheduling of repairs and upgrades</li>
                            <li>5% discount on labor</li>
                            <li>5% discount on Centrisys parts</li>
                            <li>5% discount on rental equipment</li>
                            <li>1-year warranty on parts</li>
                            <li>Priority shipping on available parts</li>
                            <li>Centrisys service tips newsletter</li>
                        </ul>

                        <h2 class="border-bottom">Available Support Upgrades</h2>

                        <ul>
                            <li>Extended warranties</li>
                            <li>Operator training</li>
                            <li>Advanced process optimization with recommendations</li>
                            <li>Remote monitoring</li>
                        </ul>
                        </div>
                    </div> <!-- /.column -->
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->

    <!-- Benefits - Image Left - Bullets Right -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/placeholders/image-left-bullets-right.png" alt="Placeholder" />
                </div>

                <div class="column text-right">
                    <h1>Centrisys Service Inspection (CSI) Program</h1>
                    <h2>Inspections shouldn’t be viewed as a burden. Knowing the condition of your centrifuge or sludge thickener allows for reduced repair costs and enhanced reliability. Not only that, but a forward-thinking maintenance plan leads to proactive budgeting and a safer environment for your plant operators.</h2>

                    <ul class="icon-ul">
                        <li class="icon-cycle">
                            What is the CSI Program?

                            <ul>
                                <li>- One day, one decanter centrifuge/sludge thickener, on-site inspection</li>
                                <li>- Available for all brands of decanter centrifuges on the market today</li>
                                <li>- Evaluation includes a summarized report outlining the condition of 40+ critical areas</li>
                            </ul>
                        </li>
                        <li class="icon-molecule">
                            Why 40+ Points?

                            <ul>
                                <li>- 30+ service years gives the Centrisys service team the experience to identify the critical centrifuge areas for performance, reliability and safety</li>
                                <li>- Plants find this evaluation is a usefle reference to forecast maintenance budgets</li>
                            </ul>
                        </li>
                        <li class="icon-truck">
                            Comprehensive inspection report

                            <ul>
                                <li>- Detailed sections documenting our service technician’s findings during the one day inspection</li>
                                <li>- Includes photos, notes and recommendations along with a color key code to quickly view the status of the 40+ points</li>
                            </ul>
                        </li>
                        <li class="icon-wrench">
                            Available for all brands of decanter centrifuges on the market

                            <ul>
                                <li>- Over 30 years of experience repairing all makes and models</li>
                                <li>- Our service know-how and passion for centrifuge technology makes us an industry service leader</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
</div>
