﻿<script>
    var pageId = 33; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    //App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    $("#pageVersionId").text("Static Generated");
    $("#statusBar").hide();
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>CS Series Dewatering Centrifuge</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->
        <style>
            .is-fixed-top.scrolled .mobile-secondary-menu .nav-link {
                margin: 0 10px;
                align-self: center;
                align-items: center;
            }
        </style>
        <div class="mobile-secondary-menu" style="max-width:600px;">
            <div class="nav-link">
                <p><a href="#06-cs-series-videos" class="blue">Videos</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#06-nyc-case-study" class="blue">NYC Case Study</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/hc-model" class="blue">HC Model</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/t-model" class="blue">T Model</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/dt-model" class="blue">DT Model</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/custom-solution" class="blue">Customized Centrifuge Solutions</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title cs-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>CS Series Dewatering Centrifuge</h1>
                        </div> <!-- /.column -->

                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#06-cs-series-videos">Videos</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#06-nyc-case-study">NYC Case Study</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/hc-model">HC Model</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/t-model">T Model</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/dt-model">DT Model</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/custom-solution">Customized Centrifuge Solutions</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/cs/PilotTrailerCS18-4-Dusk.png" alt="Pilot Trailer" />
                            </li>
                            <li>
                                <img src="images/cs/Fresno-CA-(3)-CS26-4.png" alt="Fresno, CA" />
                            </li>
                            <li>
                                <img src="images/cs/Somerset-Coal-CS30-4T.png" alt="Somerset Coal" />
                            </li>
                            <li>
                                <img src="images/cs/Gallo-(6)-CS26-4.png" alt="Gallo" />
                            </li>
                            <li>
                                <img src="images/cs/Goodyear-AZ-CS18-4.png" alt="Goodyear, AZ" />
                            </li>
                            <li>
                                <img src="images/cs/Arcelor-Mittal-Burns-Harbor-IN-CS30-4-Steel-Mill-Wastewater.png" alt="Arcelor Mittal Burns Harbor" />
                            </li>
                            <li>
                                <img src="images/cs/Rockford-IL-(3)-CS21-4.png" alt="Rockford, IL" /><!-- updated C.S. -->
                            </li>
                            <li>
                                <img src="images/cs/Channahon-IL-CS18-4.png" alt="Channanhon, IL" />
                            </li>
                            <li>
                                <img src="images/cs/Ronceverte-WV-CS21-4.png" alt="Ronceverte, WV" />
                            </li>
                            <li>
                                <img src="images/cs/King-Co-WA-(4)-CS26-4.png" alt="King Co, WA" />
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="column text-right">
                    <h1 class="product-overview-title">CS Series Dewatering Centrifuge</h1>
                    <h2 class="product-overview-subtitle border-bottom">The Right Dewatering Solution, Fastest Payback, Lowest Cost of Ownership</h2>
                    <div class="product-overview-content">
                        <p><strong>A Higher Standard is Our Standard</strong></p>
                        <p>
                            We don’t compromise on decanter centrifuge design, function or performance.
                            A Centrisys centrifuge offers the lowest cost of ownership compared to other centrifugal separation technologies.
                        </p>
                        <p>
                            The CS Series Dewatering Centrifuge bridges the gap between engineering, mechanics, service, and field experience.
                            Centrisys raises the bar, providing the highest quality decanter centrifuge that can be easily repaired with readily available spare parts.
                        </p>
                        <p>
                            The CS Series is designed from the ground up using the knowledge and experience gained
                            from real-life problem-solving and service for all types of dewatering equipment in municipal and industrial applications.
                        </p>
                        <ul style="margin-left:20px; list-style-type:disc;">
                            <li class="list4">A890 duplex stainless steel</li>
                            <li class="list4">Tungsten carbide wear protection</li>
                            <li class="list4">Headwalls – forged duplex stainless steel</li>
                            <li class="list4">
                                Bowl development
                                <ul style="list-style-type:circle;">
                                    <li class="list1">Centrifugally cast</li>
                                    <li class="list1">Tungsten carbide liners and wear strips</li>
                                </ul>
                            </li>
                            <li class="list4">
                                Scroll development
                                <ul style="list-style-type : circle;">
                                    <li class="list1">Centrifugally cast scroll body</li>
                                    <li class="list1">Tungsten carbide tiles / fused tungsten carbide flame</li>
                                    <li class="list1">Axial flow flights in the cylinder</li>
                                    <li class="list1">High flow and low shear chamber</li>
                                    <li class="list1">Gentle sludge acceleration</li>
                                    <li class="list1">Deeper pool</li>
                                    <li class="list1">Longer and smallest diameter scroll body</li>
                                </ul>
                            </li>
                            <li class="list4">
                                Rotodiff<sup style="font-size:10px;">®</sup> Hydraulic Backdrive – the most efficient in the industry
                                <ul style="list-style-type:circle;">
                                    <li class="list1">Lowest measured energy consumption</li>
                                    <li class="list1">Lowest installed horsepower compared to a gearbox of similar torque</li>
                                    <li class="list1">Increase solids loading capacity</li>
                                    <li class="list1">Highest torque to weight ratio</li>
                                    <li class="list1">100% torque at all speeds</li>
                                    <li class="list1">Accurate direct measurement of scroll speed</li>
                                    <li class="list1">Lowest overhang load and lower weight = less maintenance and less stress on the main bearings</li>
                                </ul>
                            </li>
                            <li class="list4">
                                Centrifuge designs for different application requirements
                                <ul style="list-style-type:circle;">
                                    <li class="list2"><a href="#/hc-model">HC Model</a></li>
                                    <li class="list2"><a href="#/t-model">T Model</a></li>
                                    <li class="list2"><a href="#/dt-model">DT Model</a></li>
                                    <li class="list2"><a href="#/custom-solution">Customized Centrifuge Solutions</a></li>
                                </ul>
                            </li>
                        </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- In-Page Content Section Divider -->
    <div class="section-divider" id="06-nyc-case-study">
        <div class="container">
            <h1>NYC Case Study</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->
    <!-- image-gallery-left-text-right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/cs/NYC-Hunts-Point-(16)-CS26-4.png" alt="NYC Hunts Point" />
                            </li>
                            <li>
                                <img src="images/cs/Test-Hunts-Point.svg" alt="Hunts Point chart" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div>

                <div class="column text-right">
                    <h1 class="case-study-title">New York, New York</h1>
                    <h2 class="case-study-subtitle border-bottom">Better than Spec Performance</h2>
                    <div class="case-study-content">
                    <p>
                        Centrisys' dewatering centrifuge installations are complete at two New York wastewater treatment plants located at Hunts Point Wastewater Treatment Plant in Bronx, New York and Wards Island Wastewater Treatment Plant in New York City, New York.
                        Sixteen CS26-4 centrifuges are installed at each location, for a total of 32 centrifuges, to dewater the city's anaerobically digested sludge.
                        The new Centrisys centrifuges will consume 60% less electricity and reduce 826 metric tons of greenhouse gases annually between the two plants.
                        To date, the upgrade has resulted in savings of $1.1 millions per year in power, polymer and biosolids disposal costs and have greatly improved New York City's dewatering operational efficiencies.
                    </p>

                    <ul>
                        <li><strong>Hunts Point Wastewater Treatment Plant | Bronx, New York</strong>
                            <ul style="list-style-type:disc;">
                                <!-- removed style="margin-left: 10px;" -->
                                <li style="margin-left:22px; margin-bottom: 8px;" > Field Acceptance Test  |  April 8, 2019</li>
                                <li style="margin-left:22px; margin-bottom: 8px;" >Data acquired from a third party certified laboratory.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                    </div>
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
    <!-- image-gallery-left-text-right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/cs/NYC-Wards-Island-(16)-CS26-4.png" alt="NYC Wards Island" />
                            </li>
                            <li>
                                <img src="images/cs/Test-Wards-Island.svg" alt="wards island chart" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div>

                <div class="column text-right">
                    
                    <ul>
                        <li><strong>Wards Island Wastewater Treatment Plant | NYC, New York</strong>
                            <ul style="list-style-type:disc; ">
                                <!-- removed style="margin-left: 0;" -->
                                <li style="margin-left:22px; margin-bottom:8px;">Performance Test | July 12-13, 2017</li>
                                <li style="margin-left:22px; margin-bottom:8px;">Data acquired from the Wards Island Process Control Laboratory.</li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
    <!-- In-Page Content Section Divider -->
    <div class="section-divider" id="06-cs-series-videos">
        <div class="container">
            <h1>Videos</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->
    <!-- Video Gallery -->
    <div class="video-gallery">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Centrisys_Dewatering_Cs_Series_Ex_2019.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/Dewatering-thumb.png" alt="CS Dewatering Centrifuge" />
                        </a>
                    </div>
                    <h3>How a CS Dewatering Centrifuge Works</h3>
                </div> <!-- /.column -->
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Centrisys Differential Speed 2016.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/Differential-Speed-Thumb.png" alt="Dewatering Centrifuge Differential Speed" />
                        </a>
                    </div>
                    <h3>CS Dewatering Centrifuge - Differential Speed Explained</h3>
                </div> <!-- /.column -->
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Centrisys Hydraulic vs Gearbox 3D_converted.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/Rotodiff-thumb.png" alt="Rotodiff Hydraulic Scoll" />
                        </a>
                    </div>
                    <h3>The Benefits of the Rotodiff Hydraulic Backdrive</h3>
                </div>
            </div> <!-- /.columns -->
            <div class="columns">
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Denver CS26-4 Dewatering Centrifuge Lifted into Building.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/Denver-Centrifuge-Lift-thumb.png" alt="Six-Story Centrifuge Building" />
                        </a>
                    </div>
                    <h3>CS26-4 Centrifuge Lifted through the Roof into the Six-Story Denver Metro Centrifuge Building</h3>
                </div> <!-- /.column -->
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/CentrisysCNP - An Innovation Leader 1080HD.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/CentrisysCNP-An-Innovation-Leader-thumb.png" alt="Innovation Leader" />
                        </a>
                    </div>
                    <h3>Centrisys/CNP - An Innovation Leader</h3>
                </div> <!-- /.column -->
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Centrisys - Company Overview.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/Centrisys-Company-Overview-thumb.png" alt="Company Overview" />
                        </a>
                    </div>
                    <h3>Centrisys/CNP Company Overview</h3>
                </div> <!-- /.column -->
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.video-gallery -->

</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>