﻿<script>
    var pageId = 61; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>Customized Centrifuge Solutions</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <div class="mobile-secondary-menu" style="max-width:750px;">
            <div class="nav-link">
                <p><a href="#/cs">CS Series Dewatering Centrifuge</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/hc-model">HC Model</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/t-model">T Model</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/dt-model">DT Model</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title costumize-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Customized Centrifuge Solutions</h1>
                        </div> <!-- /.column -->

                    </div> <!-- /.columns -->
                </div> <!-- /.column -->
                <div class="nav-link">
                    <p><a href="#/cs">CS Series Dewatering Centrifuge</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/hc-model">HC Model</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/t-model">T Model</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/dt-model">DT Model</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    <!-- image-gallery-left-text-right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/cs/Fond-du-Lac-WI-(2)-CS26-4.png" alt="Fond du Lac" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div>

                <div class="column text-right">
                    <h1 class="product-overview-title">Customized Centrifuge Solutions</h1>
                    <h2 class="product-overview-subtitle border-bottom">Because not all Sludge is the Same</h2>
                    <div class="product-overview-content">
                        <p>
                            The key to Centrisys' success is simple. We don't imitate all the other centrifuge manufacturers
                            on the market today, instead we listen to our customers.
                            Over the years, we've developed a hefty portfolio of robust standard centrifuge designs.
                            But, we're not afraid to convert a custom feature into our standard design portfolio &mdash;
                            if it improves the process. Customization helps us to engineer the most reliable and
                            robust centrifuges on the market today for all sludge dewatering and thickening applications.
                        </p>
                        <ul style="list-style-type:disc; margin-left:22px; margin-bottom: 10px;">
                            <li class="list4">Standard decanter centrifuge</li>
                            <li class="list4">Semi-standard decanter centrifuge</li>
                            <li class="list4">Fully customized decanter centrifuge and centrifuge systems</li>
                        </ul>
                        <p>We pride ourselves on being a strategic partner, not just a centrifuge supplier.</p>
                    </div>
                    </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
    <!-- image-gallery-left-text-right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/cs/Centrifuge-Size.png" alt="Centrifuge Size" />
                            </li>
                            <li>
                                <img src="images/cs/Bowl-Design.png" alt="Bowl Design" />
                            </li>
                            <li>
                                <img src="images/cs/Scroll-Development.png" alt="Scroll Development" />
                            </li>
                            <li>
                                <img src="images/cs/Beach-Angle.png" alt="Beach Angle" />
                            </li>
                            <li>
                                <img src="images/cs/Hydraulic-Scroll-Drive.png" alt="Hydraulic Scroll Drive" />
                            </li>
                            <li>
                                <img src="images/cs/Wear-Parts.png" alt="Wear Parts" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div>

                <div class="column text-right">
                    <h1>Designs to Tackle a New Process or Optimize an Older Centrifuge</h1>
                    <h2 class="border-bottom">Our Centrifuge Customization Process is Continuous</h2>
                    <p>
                        Our customized centrifuge solutions can be as large as designing and manufacturing a
                        complete mobile trailer or as small as enhancing a centrifuge spare part.
                        Our R&D, engineering, manufacturing, service teams, and customers co-create throughout the
                        development process by being involved at every stage, from concept through prototyping to
                        production till end-of-life support.
                    </p>
                    <p style="margin-bottom: 0px;"><strong>Key considerations for decanter centrifuge customization:</strong></p>
                    <ul style="list-style-type:disc; margin-left:21px;">
                        <li class="list1 list4">Beach angle</li>
                        <li class="list1 list4">Centrifuge conical section</li>
                        <li class="list1 list4">Scroll development</li>
                        <li class="list1 list4">Backdrive options</li>
                        <li class="list1 list4">Centrifuge wear parts</li>
                        <li class="list1 list4">Materials of construction</li>
                        <li class="list1 list4">Custom control panels per project specifications</li>
                        <li class="list1 list4">2-phase or 3-phase separation</li>
                        <li class="list1 list4">Clarification or classification treatment</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
    <!-- image-gallery-left-text-right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/cs/Goodyear-AZ-CS18-4-SOLIDWORKS.png" alt="Goodyear, AZ Solidworks" />
                            </li>
                            <li>
                                <img src="images/cs/Arcelor-Mittal-Burns-Harbor-IN-CS30-4-Steel-Mill-Wastewater-2.png" alt="Steel Mill Wastewater" />
                            </li>
                            <li>
                                <img src="images/cs/Clean-Harbors-CS21-4HC-3Ph-2.png" alt="Clean Harbors CS21"/>
                            </li>
                            <li>
                                <img src="images/cs/CS21-4HC-3PH-EXP-SKID.png" alt="CS21 EXP SKID"/>
                            </li>
                            <li>
                                <img src="images/cs/Hecla-Container-CS10-4.png" alt="Hecla Container"/>
                            </li>
                            <li>
                                <img src="images/cs/Hillsborough-CS26-4-Trailer.png" alt="Hillsborough CS26"/>
                            </li>
                            <li>
                                <img src="images/cs/Marion-County-CS18-4-Skid.png" alt="Marion County"/>
                            </li>
                            <li>
                                <img src="images/cs/Placer-County-CS18-4-Skid.png" alt="Placer County"/>
                            </li>
                            <li>
                                <img src="images/cs/Strabag-CS26-4-Container.png" alt="Strabag Container"/>
                            </li>
                            <li>
                                <img src="images/cs/CS18-3-Drilling-Mud.png" alt="CS18 drilling mud"/>
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div>

                <div class="column text-right">
                    <h1>Decanter Centrifuge Systems</h1>
                    <h2 class="border-bottom"><strong>Centri</strong> = centrifuge &nbsp;&nbsp; <strong>sys</strong> = systems </h2>
                    <p>
                        Complete centrifuge dewatering and sludge thickening systems custom designed with
                        all the components required for sludge dewatering and thickening in one scheme.
                        Flow rates ranging from 0 to 1,200 GPM (0 - 272 m3/h).
                        A plug and play, prefabricated design for easy installation within a small footprint.
                        Designed, built, and serviced in the USA.
                    </p>
                    <ul style="list-style-type:disc; margin-left:21px;">
                        <li class="list4">Decanter centrifuge skid systems</li>
                        <li class="list4">Mobile trailer systems</li>
                        <li>Enclosed centrifuge containerized systems</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>