﻿<script>
    var pageId = 27; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    //App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    $("#pageVersionId").text("Static Generated");
    $("#statusBar").hide();
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>DLT Low-Temperature Sludge Dryer</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <div class="mobile-secondary-menu" style="max-width:500px;">
            <div class="nav-link">
                <p><a href="#dlt-low-temp-dryer-videos">Videos</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->


        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<!--DLT Low-Temperature Belt Dryer -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title low-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <!-- Page Title -->
                            <h1 id="pageTitle">DLT Low-Temperature Sludge Dryer</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->


                <div class="nav-link">
                    <p><a href="#dlt-low-temp-dryer-videos">Videos</a></p>
                </div> <!-- /.column -->

            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
									<li>
                                        <img src="images/dlt/DLT-FrontwIDs.png" alt="DLT Conveyor Side" />
                                    </li>
                                    <li>
                                        <img src="images/dlt/DLT-BackwIDs.png" alt="DLT HEX Side" />
                                    </li>
                                    <li>
                                        <img src="images/dlt/Dryer-Biosolids.png" alt="Dryer Biosolids" />
                                    </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="product-overview-title">Centrisys DLT Low-Temperature Sludge Dryer</h1>
                    <h2 class="product-overview-subtitle border-bottom">Developed in the USA. Focused on the USA.</h2>
                    <div class="product-overview-content">
                        <p>
                          The DLT Low-Temperature Dryer continues the Centrisys/CNP tradition of designing and building biosolids equipment from the ground up. Our dryer development team, industry consultants, and industrial experts researched current dryers in the market and identified key areas of low-temperature dryers that would benefit from improvement. The result is a simplified, operator-friendly, low-temperature belt dryer that maximizes uptime – all done in a smaller footprint.
                    </p>
                        <h4 style="margin-bottom:0px;"><strong style="color:#63656a; font-size: 16px;   ">Drivers for Low-Temperature Sludge Dryers</strong></h4>

                        <ul style="list-style-type:disc;">
                          <li class="list1" style="margin-left:22px; margin-bottom:8px;">Generate Class A Biosolids – dry sludge at a high temperature to destroy pathogens</li>
                            <li class="list1" style="margin-left:22px; margin-bottom:8px;">Reduce sludge volume</li>
                            <li class="list1" style="margin-left:22px; margin-bottom:8px;">Reduce costs for disposal, landfill, and transportation</li>
                            <li class="list1" style="margin-left:22px; margin-bottom:8px;">PFAS regulations, minimize risk by reducing volume</li>
                        </ul>

                        <h4 style="margin-bottom:0px;"><strong style="color:#63656a; font-size: 16px;">Product</strong></h4>
                        <ul style="list-style-type:disc;">
                            <li class="list1" style="margin-left:22px; margin-bottom:8px;">Dried sludge with a dryness level greater than 90% solids</li>
                            <li class="list1" style="margin-left:22px; margin-bottom:8px;">Reduced biosolids weight up to +80%</li>
                            <li class="list1" style="margin-left:22px; margin-bottom:8px;">Meets Class A requirements</li>
                            <li class="list1" style="margin-left:22px; margin-bottom:8px;">Optimized particle size creates minimal dust; allows for land application without further processing</li>
                            <li class="list1" style="margin-left:22px; margin-bottom:8px;">Meets Build America, Buy America (BABA) Requirements</li>
                        </ul>
                    </div> <!-- /.column -->
                </div> <!-- /.columns -->
            </div> <!-- /.container -->
            <!-- Image Gallery Left - Text Right -->
            <div class="image-gallery-left-text-right">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            <div class="flexslider">
                                <ul class="slides">
									<li>
                                        <img src="images/dlt/DLT-ModularSections.png" alt="DLT Modular Sections" />
                                    </li>
                                    <li>
                                        <img src="images/dlt/DLT-AirFlow.png" alt="DLT Air Flow" />
                                    </li>
                                    <li>
                                        <img src="images/dlt/DLT-HeatRecoveryHEX.png" alt="DLT Heat Recovery HEX" />
                                    </li>
									 <li>
                                        <img src="images/dlt/DLT-Sensors.png" alt="DLT Sensors" />
                                    </li>
                                    <li>
                                        <img src="images/dlt/DLT-FireSuppression.png" alt="DLT Fire Suppression" />
                                    </li>
                                </ul>
                            </div> <!-- /.flexslider -->
                        </div> <!-- /.column -->

                        <div class="column text-right">
                            <h1 class="product-overview-title">Why Choose the Centrisys DLT Low-Temperature Dryer?</h1>
                            <!-- <h2>&nbsp;</h2> -->
                            <div class="product-overview-content" style="margin-bottom:10px">
                                <p style="margin-bottom:10px">The DLT uses a simple, closed-loop, hot water heating system. The low-profile design integrates modular heat exchangers into the dryer system. Depending on the plant, the DLT can be designed with a dedicated hot water boiler for natural gas or biogas. The waste heat from pyrolysis or CHP cooling water can be used to offset energy requirements.</p>
                                <!-- <p>&nbsp;</p> -->
                                <p style="margin-bottom:0px;"><strong>USA Parts and Service. Centrisys DLT is designed, built, and FOCUSED on USA plants.</strong></p>
                                <ul style="list-style-type:disc;">
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">The dryer’s modular segments are intentionally sized to use standard USA parts – no custom-sized parts, components, or ancillary equipment</li>
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">All parts and components are manufactured, sourced, and distributed in the USA</li>
                                    <li class="list1" style="margin-left:22px; margin-bottom:8px;">All parts and components are stocked at the Centrisys parts distribution facility in Kenosha, Wisconsin</li>
                                </ul>

                                <p style="margin-bottom:0px;"><strong>Smallest Footprint. Increase Flexibility for Plant Design and Expansion.</strong></p>
                                <ul style="list-style-type:disc;">
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">A low-profile feeder design minimizes height requirements for installation</li>
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">A decentralized heat recovery system; eliminates a single point of failure</li>
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">The unique design of the heat recovery system decreases the installed footprint</li>
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px; margin-bottom:10px;">The modular design is a simplistic approach for dryer sizing to align with plant capacity requirements </li>
                                </ul>

                                <p style="margin-bottom:0px;"><strong>Enhanced Safety. Designed for Plant Operators.</strong></p>
                                <ul style="list-style-type:disc;">
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">Designed to meet NFPA 820/654 standards</li>
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">An insulated dryer surface to meet OSHA compliance for no exterior surface +120 °F </li>
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">All the motor parts and instrumentation meet Class II explosion proof requirements</li>
                                    <li class="list1" style="margin-left:22px; margin-bottom:8px;">An automated sprinkler system installed for safety</li>
                                </ul>

                                <p style="margin-bottom:0px;"><strong>Uncomplicated. Designed for Simple Maintenance.</strong></p>
                                <ul style="list-style-type:disc;">
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">No confined space; operators do not need to crawl inside the dryer box for maintenance </li>
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">Internal dryer parts are accessible and removable from outside the box</li>
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">The compact pull-out cartridge is designed for a one-person "swap-in-place" exchange </li>
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">The primary heat exchanger is a two-piece, split height panel design </li>
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">All doors are hinged, no special tools are needed </li>
                                    <li class="list1" style="margin-left:22px; margin-bottom: 8px;">An optional lift crane assembly to move heavier parts</li>
									<li class="list1" style="margin-left:22px; margin-bottom:10px;">24/7 operation with minimal operator attention needed</li>
                                </ul>

                            </div> <!-- /.column -->
                        </div> <!-- /.columns -->
                    </div> <!-- /.container -->
                </div> <!-- /.image-gallery-left-text-right -->
            </div>

            <div class="image-gallery-left-text-right">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="images/dlt/DLT-Height.png" alt="DLT Height Requirements" />
                                    </li>
                                </ul>
                            </div> <!-- /.flexslider -->
                        </div> <!-- /.column -->

                        <div class="column text-right">
                            <h1 class="product-overview-title">
                                More Uptime. Less Maintenance. Fewer Truckloads.
                            </h1>
                            <div class="product-overview-content">
                                <p style="margin-bottom:5px;"><strong>Problem:</strong> Typical low-temp dryer designs have heat recovery systems that are: 
									<ul style="list-style-type:disc;">
                                    <li style="margin-left:22px; margin-bottom: 8px;">Large</li>
                                    <li style="margin-left:22px; margin-bottom: 8px;">Stand-alone</li>
                                    <li style="margin-left:22px; margin-bottom: 8px;">Asingle point of failure</li>
                                    <li style="margin-left:22px; margin-bottom: 8px;">Located outside the dryer system</li>
                                </ul>
								During cleaning, the entire dryer must stop operation to complete this maintenance task.</p>
                              <p><strong>Solution:</strong> In the DLT’s heat recovery system, each module has an individual set of heat exchangers. If a single HEX within the module requires cleaning, the DLT system continues to dry sludge. The dirty HEX can be isolated, removed and replaced with the spare. It's a simple, one-person swap of the cartridge.</p>

                            </div> <!-- /.column -->
                        </div> <!-- /.columns -->
                    </div> <!-- /.container -->
                </div> <!-- /.image-gallery-left-text-right -->
            </div>
            <!-- In-Page Content Section Divider -->
            <div class="section-divider" id="dlt-low-temp-dryer-videos">
                <div class="container">
                    <h1>Videos</h1>
                </div> <!-- /.container -->
            </div> <!-- /.section-divider -->
            <!-- Video Gallery -->
            <div class="video-gallery">
                <div class="container">
                    <div class="columns" style="width:66.66%">
                        <div class="column" >
                            <div class="video-wrapper">
                                <a class="popup-youtube" href="videos/Dryer Maintenance is Easy.mp4">
                                    <div class="video-overlay"></div>
                                    <img src="videos/dryer-maintenance-is-easy-thumb.png" alt="Dryer Maintenance is Easy" />
                                </a>
                            </div>

                            <h3>Dryer Maintenance is Easy</h3>
                        </div> <!-- /.column -->

                        <div class="column">
                            <div class="video-wrapper">
                                <a class="popup-youtube" href="videos/Kwu_W_Wd_Top_Project.mp4">
                                    <div class="video-overlay"></div>
                                    <img src="videos/KWU-WWD-Top-Project-Thumb.png" alt="Kenosha Water Utility W&WD Top Project" />
                                </a>
                            </div>

                            <h3>Kenosha Water Utility W&WD Top Project</h3>
                        </div> <!-- /.column -->

                    </div> <!-- /.columns -->
                </div> <!-- /.container -->
            </div> <!-- /.video-gallery -->