﻿<script>
    var pageId = 60; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    //App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    $("#pageVersionId").text("Static Generated");
    $("#statusBar").hide();
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>DT Model</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->
        <div class="mobile-secondary-menu" style="max-width:750px;">

            <div class="nav-link margin-20">
                <p><a href="#06-cs-series-videos" class="blue">Videos</a></p>
            </div> <!-- /.column -->

            <div class="nav-link margin-20">
                <p><a href="#/cs">CS Series Dewatering Centrifuge</a></p>
            </div> <!-- /.column -->

            <div class="nav-link margin-20">
                <p><a href="#/t-model">T Model</a></p>
            </div> <!-- /.column -->

            <div class="nav-link margin-20">
                <p><a href="#/hc-model">HC Model</a></p>
            </div> <!-- /.column -->

            <div class="nav-link margin-20">
                <p><a href="#/custom-solution">Customized Centrifuge Solutions</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title dt-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>DT Model</h1>
                        </div> <!-- /.column -->

                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#06-cs-series-videos">Videos</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/cs">CS Series Dewatering Centrifuge</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/t-model">T Model</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/hc-model">HC Model</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/custom-solution">Customized Centrifuge Solutions</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    <!-- image-gallery-left-text-right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/cs/Bettencourt-Dairy-(2)-CS26-4DT.png" alt="Bettencourt Dairy" />
                            </li>
                            <li>
                                <img src="images/cs/Bettencourt-Dairy-2.png" alt="Manure Solids" />
                            </li>
                            <li>
                                <img src="images/cs/Bettencourt-Dairy-1.png" alt="Manure Solids" />
                            </li>
                            <li>
                                <img src="images/cs/Toledo-Dairy-CS21-4DT.png" alt="Toledo Dairy" />
                            </li>
                            <li>
                                <img src="images/cs/Bos-Dairy-CS26-4DT.png" alt="Bos Dairy" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div>

                <div class="column text-right">
                    <h1 class="product-overview-title">DT Model</h1>
                    <h2 class="product-overview-subtitle border-bottom">A Robust Dewatering Centrifuge Designed for Reliable Performance</h2>
                    <div class="product-overview-content">
                        <p>
                            With over fifteen years of continuous research, development, and field testing in collaboration
                            with dairymen and dealers, Centrisys has cracked-the-code designing a centrifuge for
                            applications where solids conveyance is a challenge, but higher G-volume is necessary.
                        </p>
                        <p>
                            The Centrisys USA designed and built centrifuge improves organic application performance
                            where inorganic materials are present (fiber, sand, grit, abrasive solids).
                            The DT Model has an optimized bowl and scroll geometry, maximizing applied G-force while at the same time taking advantage of the G-volume.
                        </p>
                        <p style="margin-bottom: 0px;"><strong>The DTs performance is second to none period.</strong></p>
                        <ul style="list-style-type:disc; margin-left:22px;">
                            <li class="list4">Optimized beach angle</li>
                            <li class="list4">Deeper pond = larger G-volume</li>
                            <li class="list4">Increased solids removal</li>
                            <li class="list4">Better phosphorus removal results; elimination of more fine particles</li>
                            <li class="list4">Improved clarification quality increases liquid retention time</li>
                            <li class="list4">Custom wear protection package with over 15 years of real-world development</li>
                            <li class="list4">Real-time process flexibility</li>
                            <li class="list4">24/7 operation with minimal operator attention</li>
                            <li class="list4">Clarification and classification options</li>
                            <li class="list4">2-phase or 3-phase separation</li>
                            <li class="list4">Centrifuges sized up to 44” for dairies of 50 to 50,000 cows</li>
                            <li class="list4">Service and repair network for centrifuge support</li>
                            <li class="list4">USA manufacturing and repair</li>
                        </ul>
                        </div>
                    </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
    <!-- image-gallery-left-text-right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/cs/Deer-Valley-CS21-4HCDT.png" alt="Deer Valley Dairy" />
                            </li>
                            <li>
                                <img src="images/cs/Bettencourt-Dairy-6-CS26-4DT.png" alt="Bettencourt Dairy" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div>

                <div class="column text-right">
                    <h1>Higher Efficiency Starts with a Proven Centrifuge Design</h1>
                    <p style="margin-bottom:0px"><strong>Applications:</strong></p>
                    <ul style="list-style-type:disc; margin-left:22px;">
                        <li class="list1 list4">Lime sludges</li>
                        <li class="list1 list4">Brushite slurry</li>
                        <li class="list1 list4">Sludges with poor flocculation qualities</li>
                        <li class="list1 list4">Ferric and alum sludges</li>
                        <li class="list1 list4">Starches and other thixotropic materials</li>
                        <li class="list1 list4">Dairy manure</li>
                        <li class="list1 list4">Hog manure</li>
                        <li class="list1 list4">Poultry manure</li>
                        <li class="list1 list4">Fibrous materials</li>
                        <li class="list1 list4">Sandy and gritty biosolids</li>
                        <li class="list1 list4">Fine particulates</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
    <!-- In-Page Content Section Divider -->
    <div class="section-divider padding-top" id="06-cs-series-videos">
        <div class="container">
            <h1>Videos</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->
    <!-- Video Gallery -->
    <div class="video-gallery">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Bettencourtdairycasestudyvideo.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/Bettencourt-Video-thumb.png" alt="Bettencourt Dairy Farm" />
                        </a>
                    </div>

                    <h3>Reduce Lagoon Dredging at a Dairy Farm with a DT Centrifuge</h3>
                </div> <!-- /.column -->

                <div class="column">

                </div> <!-- /.column -->

                <div class="column">

                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.video-gallery -->
</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>