﻿<script>
    var pageId = 57; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>HC Model</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->
        <div class="mobile-secondary-menu" style="max-width:750px;">
            <div class="nav-link">
                <p><a href="#/cs">CS Series Dewatering Centrifuge</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/t-model">T Model</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/dt-model">DT Model</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/custom-solution">Customized Centrifuge Solutions</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title hc-title" >
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>HC Model</h1>
                        </div> <!-- /.column -->

                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/cs">CS Series Dewatering Centrifuge</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/t-model">T Model</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/dt-model">DT Model</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/custom-solution">Customized Centrifuge Solutions</a></p>
                </div> <!-- /.column -->

            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    <!-- image-gallery-left-text-right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/cs/Patterson-CA-CS21-4HC.png" alt="Patterson" />
                            </li>
                            <li>
                                <img src="images/cs/Green-Bay-WI-(3)-CS21-4HC.png" alt="Green Bay" />
                            </li>
                            <li>
                                <img src="images/cs/Waste-Management-Dolphin-CS21-4HC-2Ph-Refinery-Wastewater.png" alt="Waste Management Dolphin" />
                            </li>
                            <li>
                                <img src="images/cs/Marathon-Skid-CS21-4HC.png" alt="Marathon Skid" />
                            </li>
                            <li>
                                <img src="images/cs/Pembroke-FL-(2)-CS21-4HC.png" alt="Pembroke FL" />
                            </li>
                            <li>
                                <img src="images/cs/Clean-Harbors-CS21-4HC-3Ph.png" alt="Clean Harbors" />
                            </li>
                            <li>
                                <img src="images/cs/Cleveland-OH-(4)-CS21-4HC.png" alt="Cleveland" />
                            </li>
                            <li>
                                <img src="images/cs/CS18-4HC-Pilot-Trailer.png" alt="4HC Pilot Trainer" />
                            </li>
                            <li>
                                <img src="images/cs/CS21-4HC-3PH-EXP-SKID.png" alt="CS21-4HC-3PH-EXP-SKID" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div>

                <div class="column text-right">
                    <h1 class="product-overview-title">HC Model</h1>
                    <h2 class="product-overview-subtitle border-bottom">Proof of Concept to Centrifuge Design Excellence</h2>
                    <div class="product-overview-content">
                        <p>
                            The HC Model is a Centrisys proven design concept that’s become a standard of excellence within
                            our centrifuge portfolio. Centrisys re-thought the standard CS design to increase G-volume and
                            flow rate, within a similar footprint to same-sized decanter centrifuges.
                            The HC model has all the benefits of the standard CS Series centrifuge with a 15-20% increase in throughput capacity.
                        </p>
                        <ul style="list-style-type:disc;">
                            <li style="margin-left:22px;" class="list4">Highest capacity with a smaller footprint</li>
                            <li style="margin-left:22px;" class="list4">Optimized bowl and scroll design for improved process volume</li>
                            <li style="margin-left:22px;" class="list4">Designed for increased capacity within centrifuge specification</li>
                            <li style="margin-left:22px;" class="list4">Engineered for higher throughput </li>
                            <li style="margin-left:22px;" class="list4">Increased G-volume with a deeper pool and exploited cylindrical length</li>
                            <li style="margin-left:22px;" class="list4">Higher L/D ratio</li>
                            <li style="margin-left:22px;" class="list4">Increases clarification capacity up to 20%</li>
                        </ul>
                        </div>
                    </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->


</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>