﻿<script>
    var pageId = 5; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    //App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    $("#pageVersionId").text("Static Generated");
    $("#statusBar").hide();
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button" ></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>History</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;" id="history">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title no-border">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column is-one-third">
                            <h1 id="historyButton">History</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/1987.png" alt="Centrisys Logo" />
                </div>

                <div class="column text-right">
                    <h2 class="product-overview-title border-bottom">1987</h2>
                    <div class="product-overview-content">

						<ul style="list-style-type: disc; margin-left:20px;">
						<li>Michael Kopper founds Centrisys Corporation. Based upon decanter centrifuge service and repair for all brands; Centrisys starts in Libertyville, Illinois with three employees, who all still work at the company today.</li>
					</ul>
                    </div>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/1988.png" alt="Rotodiff® hydraulic back drive retrofit" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">1988</h2>

					<ul style="list-style-type: disc; margin-left:20px;">
						<li>Viscotherm partnership begins. Installs the first Rotodiff<sup style="font-size:10px;">®</sup> hydraulic backdrive retrofit.</li>
					</ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/1989.png" alt="CS Series decanter centrifuge" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">1989</h2>

					<ul>
						<li style="list-style-type: disc; margin-left:20px;">Designs and builds the first CS Series decanter centrifuge for Honolulu, Hawaii.</li>
					</ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/1990.png" alt="Dewatering centrifuge" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">1990</h2>

					<ul style="list-style-type: disc; margin-left:20px;">
						<li>Develops a 3-phase dewatering centrifuge for crude oil recovery, and tank bottom applications.</li>
					</ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/1999.png" alt="Company headquarters" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">1999</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
						<li>Relocates the company headquarters to Kenosha, Wisconsin with a 21,000 sq. ft. building.</li>
					</ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2000.png" alt="Centrifuge service and repair center" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2000</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
						<li>A centrifuge service and repair center opens in Benicia, California.</li>
					</ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2001.png" alt="Kenosha, Wisconsin headquarters building" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2001</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
						<li>Doubles the Kenosha, Wisconsin headquarters building to 45,000 sq. ft.</li>
					</ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2002.png" alt="Team Metal Fabricating" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2002</h2>

					<ul style="list-style-type: disc; margin-left:20px;">
						<li>Purchases Team Metal Fabricating to increase Kenosha, Wisconsin machining capacity.</li>
					</ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2004.png" alt="Certified as ISO 9001:2001" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2004</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
						<li>Certified as ISO 9001:2001.</li>
					</ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2005.png" alt="Certified as ISO 9001:2008" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2005</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
						<li>Certified as ISO 9001:2008.</li>
					</ul>
	             </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2006.png" alt="Dewatering centrifuge installation" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2006</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4">Centrisys Corporation goes global. First dewatering centrifuge installations in Germany, China and South America.</li>
                        <li class="list4">Develops the CS18-3 dewatering centrifuge for petroleum process applications.</li>
                        <li><strong>CSI Technologies partnership begins. Provides research, engineering and oilfield product development for the energy industries.</strong></li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2007.png" alt="Wisconsin Manufacturer of the Year" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2007</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4">A centrifuge service and repair center opens in Oftersheim, Germany.</li>
                        <li class="list4">Dairy Specialists partnership begins. Supplies decanter centrifuges to West coast dairies for the manure industry.</li>
                        <li class="list4"><strong>Named Wisconsin Manufacturer of the Year — Special Award Winner "Operational Excellence in a Captial-Intensive Industry."</strong></li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2008.png" alt="Centrifuge service and repair center" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2008</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li>A 20,000 sq. ft. West coast centrifuge service and repair center opens in Stockton, California.</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2009.png" alt="Centrisys Team" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2009</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4"><strong>Chengdu Tianbao Heavy Co. Ltd. partnership begins. Establishes a joint venture facility for production, sales, repair and service in Chengdu, China.</strong></li>
                        <li class="list4">A centrifuge service and repair center opens in Singapore.</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2010.png" alt="Build equipment building" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2010</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4">Construction of a second building in Kenosha, Wisconsin for new build equipment. Expands the Centrisys headquarters to 66,000 sq. ft.</li>
						<li class="list4">Named Economic Impact Award presented by The Kenosha Area Business Alliance and the Kenosha Area Chamber of Commerce along with a Certificate of Special Congressional Recognition from U.S. Congressman Paul Ryan.</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2011.png" alt="THK Series sludge thickener" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2011</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4">Designs and manufactures THK Series sludge thickener for waste activated sludge (WAS).</li>
						<li class="list4">Named Wisconsin Companies to Watch presented by the Edward Lowe Foundation, The Wisconsin Entrepreneurs Network and the Wisconsin Department of Commerce.</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2012.png" alt="Centrifuge parts distribution building" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2012</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4">Acquires a third building in Kenosha, Wisconsin for centrifuge parts distribution. Expands corporate headquarters to 95,000 sq. ft.</li>
                        <li class="list4">A centrifuge service and repair center opens in Lufkin, Texas.</li>
                        <li class="list4">A centrifuge service and repair center opens in  Indaiatuba, Brazil, South America.</li>
                        <li class="list4">SH+E Group partnership begins for sales, distribution and consulting for waste-to-energy products for the North American market.</li>
                        <li class="list4">Dolphin/Waste Management partnership begins.</li>
                        <li class="list4"><strong>Schaunenburg partnership begins in the tunneling industry. Supplies 40+ CS30-4 dewatering centrifuges.</strong></li>
						<li class="list4">Named Best of Sustainable Supply presented by McDonald’s for Recovering Animal Grease from Dissolved Air Flotation Units for CS Series.</li>
                        <li class="list4">Michael Kopper named Milwaukee BizTimes Bravo! Entrepreneur Award.</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2013.png" alt="Centrifuge service and repair" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2013</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4"><strong>Installs the 2,000 Rotodiff hydraulic backdrive.</strong></li>
                        <li class="list4">Vortecnia partnership begins for centrifuge service and repair in Buenos Aires, Argentina, South America.</li>
                        <li class="list4">Receives WEF Innovative Technology Award for the THK Series sludge thickener.</li>
                        <li class="list4">Michael Kopper named as Kenosha County Entrepreneur of the Year.</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2014.png" alt="CNP Logo" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2014</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4"><strong>Launches CNP – Technology Water and Biosolids Corporation for nutrient recovery and removal.</strong></li>
                        <li class="list4">Acquires exclusive North American distribution for AirPrex<sup style="font-size:10px;">®</sup>, a post-digestion P-recovery process.</li>
                        <li class="list4">Acquires exclusive North American distribution for PONDUS™, a Thermal Hydrolysis Process.</li>
                        <li class="list4">Somerset Coal partnership begins. The Sub325<sup style="font-size:10px;">®</sup> decanter centrifuge is designed and manufactured exclusively for the coal industry.</li>
                        <li class="list4">THK Series sludge thickener is built for primary sludge applications at Kenosha Water Utility.</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2015.png" alt="engine lathe" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2015</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4">Chengdu Techcent Environment Co. Ltd. (Chengdu Tianbao Heavy Co. Ltd.), a longtime strategic partner since 2008, acquires Centrisys Corporation. This investment enables the advancement of the Centrisys offerings at an accelerated rate, servicing more customers more effectively throughout the USA, South America, Europe and Asia. By leveraging Tianbao Heavy Industry’s in-market operational expertise, network and best practices allows Centrisys to capture increased market share across the rapidly growing Asian market.</li>
                        <li class="list4">Increases machining capacities with a new engine lathe and a horizontal boring mill at the Kenosha, Wisconsin corporate headquarters.</li>
                        <li class="list4"><strong>First North American waste-to-energy project includes PONDUS, CS Series, THK series and low-temperature belt dryer at Kenosha Water Utility in Kenosha, Wisconsin. Centrisys Corporation is the primary financial backer for the design-build energy optimization project.</strong></li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2016.png" alt="Centrisys Leadership" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2016</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4">Certified as ISO 9001-2015.</li>
                        <li class="list4">Acquires exclusive North American distribution for a low-temperature belt dryer from Sülzle Klein GmbH.</li>
                        <li class="list4">Veolia partnership begins with a World Wide Supplier Agreement.</li>
                        <li class="list4">E. & J. Gallo Winery partnership begins for wine production using CS Series dewatering centrifuges and THK Series sludge thickeners.</li>
                        <li class="list4">CD Series Vertical Cuttings Dryer built for the oil field industry.</li>
                        <li class="list4"><strong>Receives U.S. Environmental Protection Agency (EPA) Nutrient Recycling Challenge Award for AirPrex in the manure industry.</strong></li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2017.png" alt="Digester and storage tank" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2017</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4">Acquires exclusive worldwide licensing and distribution for CalPrex<sup style="font-size:10px;">&reg;</sup>, a pre-digestion P-recovery process, from Nutrient Recovery & Upcycling.</li>
                        <li class="list4">Acquires exclusive North American distribution for digester and storage tanks from LIPP GmBH.</li>
                        <li class="list4">American Council of Engineering Companies (ACEC) Grand Award Winner for the Kenosha Water Utility Optimization Project for CS Series, THK Series and PONDUS. Recognized as a top project for the state of Wisconsin and nationally recognized in Washington D.C.</li>
                        <li class="list4">W&WD Top Project for the Kenosha Water Utility Optimization Project for CS Series, THK Series and PONDUS.</li>
                        <li class="list4"><strong>Completes the Wards Island Wastewater Treatment Plant, New York City installation of (16) CS26-4 dewatering centrifuges.</strong></li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2018.png" alt="Centrisys dewatering centrifuge" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2018</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4">Acquires exclusive North American distribution for Passavant<sup style="font-size:10px;">®</sup> hydrograv<sup style="font-size:10px;">®</sup> adapt Variable Inlet System.</li>
                        <li class="list4">Introduces the CS6-4 (smallest) and CS44-4 (largest) Centrisys dewatering centrifuges.</li>
                        <li class="list4"><strong>Designs and manufactures a 4,000xG Centrisys dewatering centrifuge.</strong></li>
                        <li class="list4">Increases the machining, welding and fabrication capacity at the Centrisys Kenosha corporate headquarters with two more engine lathes and another horizontal boring mill.</li>
                        <li class="list4">Two North American MagPrex&trade; installs at Liverpool WWTP in Medina, Ohio and Howard County in Savage, Maryland.</li>
                        <li class="list4">Participates in The Water Research Foundation (WRF) pilot at Madison, Wisconsin, with CalPrex to demonstrate the pre-digestion phosphorus removal and recovery.</li>
                        <li class="list4">Named Utility of the Future Today Recognition Program for the Kenosha Water Utility Optimization Project for CS Series, THK Series and PONDUS.</li>
						<li class="list4">Hiroko Yoshida, R&D, named W&WD Young Professional Recipient.</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2019.png" alt="Hydrograv adapt Variable Inlet System" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2019</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4">Employs 150+ employees worldwide.</li>
                        <li class="list4">Completes a 35,000 sq. ft. expansion to our second building in Kenosha, Wisconsin. Expands our Kenosha headquarters to 130,000 sq. ft.</li>
                        <li class="list4"><strong>First-of-its-kind underground balancing bunker installation includes a Schenk HM7U high-speed balancing machine, 12” reinforced walls and a 28” thick machine bed to ensure safety and efficiency during balancing.</strong></li>
                        <li class="list4">Increases the machining, welding and fabrication capacity at the Centrisys Kenosha corporate headquarters by adding a VMC (vertical machining center).</li>
                        <li class="list4">Named Frost & Sullivan Product Leadership Award for the North America Sludge Treatment, PONDUS.</li>
                        <li class="list4">Named CIOReview for the 20 Most Promising Metals and Mining Technology Solution Providers.</li>
						<li class="list4">Named Wisconsin Captive Insurance Co. Award of Excellence for Outstanding Safety Performance.</li>
						<li class="list4">Named Wisconsin Captive Insurance Co. Certificate of Achievement for a Lost Workday Case Rate, DART Rate, and Total OSHA Recordable Rate Below the Industry Average.</li>
                        <li class="list4">Named Salvation Army Other’s Award Recipient for "Resources Supporting Others."</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2020.png" alt="Dewatering centrifuges installation" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2020</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4">Introduces MagPrex&trade;, the exclusive North American post-digestion P-recovery process, which replaces AirPrex.</li>
                        <li class="list4">Installation of first hydrograv adapt Variable Inlet System in Hampton Roads, Virginia.</li>
                        <li class="list4"><strong>Completes the (16) Centrisys CS26-4 dewatering centrifuges installation at Hunts Point Wastewater Resource Recovery Facility in the south Bronx, New York. This 200 MGD facility now consumes 60% less electricity, processes 25% more material than their previous centrifuges, reduced their carbon footprint by 826 metric tons of greenhouse gases a year and lowered operating costs by $1.7 million.</strong></li>
                        <li class="list4">Completes MagPrex and (8) dewatering centrifuges at the Metro Water Recovery in Denver, Colorado.</li>
                        <li class="list4">Completes the MagPrex installation at the City of Fort Collins Drake Water Reclamation Facility in Fort Collins, Colorado.</li>
                        <li class="list4">Completes the (5) CS30-4DT dewatering centrifuges installation at Inland Empire Utilities Plant in Chino, California.</li>
                        <li class="list4">Completes the (2) THK600 sludge thickeners installation at Steven M. Clouse Water Recycling Center in San Antonio, Texas.</li>
                        <li class="list4">20+ CS30-4 global installations for Somerset international.</li>
						<li class="list4">Named Fox Valley Section of the Chicago Chapter of the American Public Works Association (APWA) award for the Fox Metro Water Reclamation District – implementation of Phase 2 Program of the Combined Sewer Overflow (CSO) Long-term Control Plan for MagPrex.</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2021.png" alt="2021" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2021</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4">Secured an order for (3) THK350 sludge thickening centrifuges at the Department of Public Works - Environmental Protection Division's Solids Train Project in Manchester, New Hampshire.</li>
                        <li class="list4">Secured an order for (2) CS21-4HC centrifuges at the Stamford Water Treatment Plant Dewatering and Chemical Receiving in Stamford, Connecticut for Aquarion Water Company.</li>
                        <li class="list4">Secured an order for a CS26-4DT at the Maryland Food Center Anaerobic Digestion Facility in Jessup, Maryland for Bioenergy Devco.</li>
                        <li class="list4">Secured an order for MagPrex at Meridian Wastewater Plant in Meridian, Idaho.</li>
                        <li class="list4"><strong>Introduced the DLT Series, a dual belt, low-temperature belt dryer.</strong></li>
						<li class="list4">Named Water Environment Federation (WEF) Operational and Design Excellence award for Denver’s Metro Water Recovery Nuisance Struvite and Dewaterability Improvement for MagPrex.</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
	  <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="images/history/2022.png" alt="2022" />
                </div>

                <div class="column text-right">
                    <h2 class="border-bottom">2022</h2>

                    <ul style="list-style-type: disc; margin-left:20px;">
                        <li class="list4"><strong>Michael Kopper and his leadership team reacquired full ownership of Centrisys.</strong></li>
						<li class="list4">Secured an order for MagPrex at Nampa Wastewater Division in Nampa, Idaho.</li>
                        <li class="list4">Secured maintenance contract for eight New York City Wastewater Treatment Plants with 83 existing decanter centrifuges.</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
</div>

