﻿<script>
    var pageId = 23; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button" ></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>Installation - Kenosha Water Utility Wastewater Treatment Plant</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title no-border">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Installation - Kenosha Water Utility Wastewater Treatment Plant</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    <!-- image-gallery-left-text-right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/thk/Kenosha-WI-THK200.png" alt="Kenosha WI THK200" />
                            </li>
							<li>
                                <img src="images/thk/Kenosha-WI-THK-in-DAF-room.png" alt="Kenosha WI THK200 in DAF room" />
                            </li>
                            <li>
                                <img src="images/thk/Kenosha WI.svg" alt="Kenosha WI Performance Chart" />
                            </li>
                        </ul>
                    </div>
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="product-overview-title border-bottom">Kenosha Water Utility Wastewater Treatment Plant</h1>
                    <div class="product-overview-content">
                        <p>Location: <strong>Kenosha, Wisconsin</strong></p>
                        <p>Plant Size: <strong>28 MGD</strong></p>
                      <p>Installation: <strong>2011 (1) THK200 Sludge Thickener for WAS</strong>
                        <br><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2015 (1) THK200 Sludge Thickener for Primary</strong></p>
                        <ul>
                            <li>
                                OPERATING DATA:
                                <ul style="list-style-type:disc; margin-left:0px">
                                    <li class="list1 list4" style="margin-left:22px; margin-bottom: 8px;">Feed @ 0.9-1.1% TS</li>
                                    <li class="list1 list4" style="margin-left:22px; margin-bottom: 8px;"><strong>WAS:</strong> 90-120 gpm; <strong>Primary:</strong> 35-50 gpm</li>
                                    <li class="list1 list4" style="margin-left:22px; margin-bottom: 8px;">98% capture</li>
                                    <li class="list1 list4" style="margin-left:22px; margin-bottom: 8px;"><strong>WAS:</strong> 0-1lb/DT polymer, seasonal use; <strong>Primary:</strong> 0-4lbs/DT polymer, active</li>
                                    <li class="list1 list4" style="margin-left:22px; margin-bottom: 8px;">0.07 kW/gpm</li>
                                    <li class="list1 list4" style="margin-left:22px; margin-bottom: 8px;; margin-bottom: 8px;">5.5-6.5% TS TWAS</li>
                                </ul>
                            </li>
                        </ul>

                        <p>
                           Four aging DAFs occupied a substantial footprint and needed expensive rehabilitation. The DAF tanks released hazardous hydrogen sulfide (H<sub>2</sub>S) gas and the plant needed to increase digester capacity because of the low solids concentration. KWU WWTP is in the middle of a residential neighborhood. Only no-to-very low odor thickening technologies were considered for the plant upgrade.
                        </p>

                        <p style="margin-bottom: 0px;"><strong>RESULTS</strong></p>
                        <ul style="list-style-type: disc; margin-left:22px;">
                            <li class="list4">
                                Installed two THK200s, one for WAS and one for primary sludge
                                <ul style="list-style-type:circle;">
                                    <li class="list1">WAS THK required a 120 sq/ft footprint, reduced from the previous DAFs 5,000 sq/ft footprint</li>
									<li class="list1">Primary THK thickening for digester optimization</li>
                                </ul>
                            </li>
                            <li class="list4">
                                WAS and primary both thicken sludge to 6-7%
                                <ul style="list-style-type:circle;">
                                    <li class="list1">DAF/primary settling tanks previously thickened to 2-4%</li>
                                </ul>
                            </li>
                            <li class="list4">
                                Reduced the digester volume from six to three digesters
                                <ul style="list-style-type:circle;">
                                    <li class="list1">Eliminated the need to rehabilitate all six digesters</li>
                                </ul>
                            </li>
                            <li class="list4">Consistent thickened solids output enhances the PONDUS operation</li>
                            <li>Typically <strong>no</strong> polymer used for WAS,up to 0-1lb/DT for seasonal use</li>
                        </ul>

                        <!-- Installations Nav -->
                        <div class="installations-nav">
                            <h3>More THK Installations</h3>

                            <div class="columns">
                                <div class="column">
                                    <a href="#/sharjah-municipality">
                                        <div class="installations-nav-wrapper left-arrow">
                                            <div class="vcenter">
                                                <p>Sharjah Municipality Drainage Department</p>
                                                <span>Sharjah, UAE</span>
                                            </div>
                                        </div>
                                    </a>
                                </div> <!-- /.column -->


                <div class="column">
                    <a href="#/installation-whitewater">
                        <div class="installations-nav-wrapper right-arrow">
                            <div class="vcenter">
                                <p>Whitewater Wastewater Treatment Plant</p>
                                <span>Whitewater, Wisconsin</span>
                            </div>
                        </div>
                    </a>
                </div> 
                                <!-- /.column -->
                            </div> <!-- /.columns -->
                        </div> <!-- /.installations-nav -->
                    </div> <!-- /.column -->
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->


    <!-- Full Width Image Gallery Slider -->
    <!--<div class="full-width-slider">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="full-width-flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/07/17 Kenosha.jpg" alt="Kenosha" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
<script>
    $(document).ready(function(){
        $(this).scrollTop(0);
    });
</script>