﻿<script>
    var pageId = 41; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button" ></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>Installation - University of Florida</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title no-border">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Installation - University of Florida</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/thk/UofFlorida-THK200.png" alt="Univeristy of Florida THK200" />
                            </li>
                            <li>
                                <img src="images/thk/UofFlorida.svg" alt="University of Florida" />
                            </li>
                        </ul>
                    </div>                    
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="product-overview-title border-bottom">University of Florida</h1>
                    <div class="product-overview-content">
                        <p>Location: <strong>Gainesville, Florida</strong></p>
                        <p>Plant Size: <strong>3.1 MGD</strong></p>
                        <p>Installation: <strong>2018 (1) THK200 Sludge Thickener</strong></p>

                        <ul>
                            <li>
                                OPERATING DATA:
                                <ul style="list-style-type:disc;">
                                    <li class="list1list4" style="margin-left: 22px; margin-bottom:8px; ">Feed @ 1.1% TS</li>
                                    <li class="list1list4" style="margin-left: 22px; margin-bottom:8px; ">100 gpm</li>
                                    <li class="list1list4" style="margin-left: 22px; margin-bottom:8px; ">97% capture</li>
                                    <li class="list1list4" style="margin-left: 22px; margin-bottom:8px; ">No polymer</li>
                                    <li class="list1list4" style="margin-left: 22px; margin-bottom:8px; ">0.1 kW/gpm</li>
                                    <li class="list1list4" style="margin-left: 22px; margin-bottom:8px; ">3.8-4.2% TS TWAS</li>
                                </ul>
                            </li>
                        </ul>


                        <p>University of Florida's Water Reclamation Facility gravity thickened WAS to 2% TS and then trucked the TWAS off-site. The plant could not exceed 4.5% TS TWAS or a 50% transporation surcharge was added to the transportation fees. The Centrisys THK reliably doubled the TWAS concentration.</p>

                        <p style="margin-bottom: 0px;"><strong>RESULTS</strong></p>
                        <ul style="margin-left: 22px; list-style-type: disc;">
                            <li class="list4">TWAS concentration doubled from 2% to 4%; resulted in half the truckload amounts
							    <ul style="list-style-type: circle;">
                                    <li class="list1">Eliminated the 50% transportation surcharge</li>
                                </ul>
                            </li>
                            <li class="list4">Maintained a narrow 3.8-4.2% TS TWAS
                                <ul style="list-style-type: circle;">
                                    <li class="list1">Adjustable nozzles and the hydro-pneumatic air adjustment controls allowed consistent output even with seasonal fluctuation</li>
                                </ul>
                            </li>
                            <li class="list4">No polymer used
                                <ul style="list-style-type: circle;">
                                    <li class="list1">Eliminated need for an installed dosing system</li>
                                    <li class="list1">Minimal operator supervision</li>
                                </ul>
                            </li>
							<li>High recovery reduced the downstream of the sand filters</li>
                        </ul>

                        <!-- Installations Nav -->
                        <div class="installations-nav">
                            <h3>More THK Installations</h3>

                            <div class="columns">
                                <div class="column">
                                    <a href="#/installation-wyoming">
                                        <div class="installations-nav-wrapper left-arrow">
                                            <div class="vcenter">
                                                <p>City of Wyoming Clean Water Plant</p>
                                                <span>Wyoming, Michigan</span>
                                            </div>
                                        </div>
                                    </a>
                                </div> <!-- /.column -->

                                <div class="column">
                                    <a href="#/installation-san-antonio">
                                        <div class="installations-nav-wrapper right-arrow">
                                            <div class="vcenter">
                                                <p>Steven M. Clouse San Antonio Water System (SAWS)</p>
                                                <span>San Antonio, Texas</span>
                                            </div>
                                        </div>
                                    </a>
                                </div> <!-- /.column -->
                            </div> <!-- /.columns -->
                        </div> <!-- /.installations-nav -->
                        </div>
                    </div> <!-- /.column -->
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->

    <!-- Full Width Image Gallery Slider -->
    <!--<div class="full-width-slider">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="full-width-flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/07/15 Gainesville FL.jpg" alt="Gainesville" />
                            </li>
                        </ul>
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>--> 
</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>