﻿<script>
    var pageId = 12; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button" ></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>Installation - Whitewater Wastewater Treatment Plant</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title no-border">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Installation - Whitewater Wastewater Treatment Plant</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/thk/Whitewater-WI-THK200.png" alt="Whitewater WI THK200" />
                            </li>
                            <li>
                                <img src="images/thk/Whitewater WI.svg" alt="Whitewater WI Performance Chart" />
                            </li>
                        </ul>
                    </div>                   
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="product-overview-title border-bottom">Whitewater Wastewater Treatment Plant</h1>
                    <div class="product-overview-content">
                        <p>Location: <strong>Whitewater, Wisconsin</strong></p>
                        <p>Plant Size: <strong>3.65 MGD</strong></p>
                        <p>Installation: <strong>2017 (1) THK200 Sludge Thickener</strong></p>

                        <ul>
                            <li style="list-style-type: none; margin-left:0px;">
                                OPERATING DATA:
                                <ul style="list-style-type: disc;">
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">Feed @ 0.4-0.7% TS</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;"> 60 gpm</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">95% capture</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">No polymer</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">0.08-0.12 kW/gpm</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">4-5% TS TWAS</li>
									<li class="list1" style="margin-left: 22px; margin-bottom: 8px; margin-bottom:8px">5-6% TS ADS</li>
                                </ul>
                            </li>
                        </ul>

                        <p>
                          The wastewater utility land applied anaerobically digested sludge (ADS) and did not have an existing thickening solution. The plant changed from rotating biological contactors (RBC) to an activated sludge system to operate a biological nutrient removal (BNR) process. The most cost-effective and reliable solution was to thicken the WAS before digestion because of the low concentration.
                      </p>

                        <p style="margin-bottom: 0px;"><strong>RESULTS</strong></p>
                        <ul style="list-style-type: disc; margin-left:22px">
                            <li class="list4">Installed THK had a dual purpose to reduce volume
                                <ul style="list-style-type: circle;">
                                    <li>THK thickened the WAS before entering the digester</li>
                                    <li class="list1">After digestion, the same THK thickened the sludge again before land application</li>
                                </ul>
							</li>
                            <li class="list4">Increased digester capacity and reduced the heat necessary to maintain the digester temperature</li>
                            <li class="list4">No polymer used for WAS thickening</li>
                            <li class="list4">Preprogramming the waste amount into the THK eased the operation; THK shuts off when it meets the target wasting
                                <ul class="list1" style="list-style-type: circle;">
                                    <li>Operator inputs target number of WAS gallons per day</li>
                                    <li>THK shuts off when flow meets the quota</li>
                                </ul>
                            </li>
                            <li>Post-digestion ADS thickening maintained 5-6% TS for land application</li>
                        </ul>

                        <!-- Installations Nav -->
                        <div class="installations-nav">
                            <h3>More THK Installations</h3>

                            <div class="columns">
                                <div class="column">
                                    <a href="#/installation-kenosha-2">
                                        <div class="installations-nav-wrapper left-arrow">
                                            <div class="vcenter">
                                                <p>Kenosha Water Utility Wastewater Treatment Plant</p>
                                                <span>Kenosha, Wisconsin</span>
                                            </div>
                                        </div>
                                    </a>
                                </div> <!-- /.column -->

                                <div class="column">
                                    <a href="#/installation-wyoming">
                                        <div class="installations-nav-wrapper right-arrow">
                                            <div class="vcenter">
                                                <p>City of Wyoming Clean Water Plant</p>
                                                <span>Wyoming, Michigan</span>
                                            </div>
                                        </div>
                                    </a>
                                </div> <!-- /.column -->
                            </div> <!-- /.columns -->
                        </div> <!-- /.installations-nav -->
                    </div> <!-- /.column -->
                    </div>
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->

    <!-- Full Width Image Gallery Slider -->
    <!--<div class="full-width-slider">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="full-width-flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/07/19 Whitewater.jpg" alt="Whitewater" />
                            </li>
                        </ul>
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>--> 
</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>