﻿<script>
    var pageId = 22; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>Installation - Stadtentwaesserung Göppingen</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title no-border">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button blue-arrow"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Installation - Stadtentwaesserung Göppingen</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <img src="images/pondus/Goeppingen-Germany-Aerial.png" alt="Goeppingen, Germany" />
                </div>

                <div class="column text-right">
                    <h1 class="product-overview-title blue border-bottom">Stadtentwaesserung Göppingen</h1>
                    <div class="product-overview-content">
                        <p>Location: <strong>Göppingen, Germany</strong></p>
                        <p>Plant Size: <strong>33 MGD</strong></p>
                        <p>Installation: <strong>2019</strong></p>
                        <!--<p>Additional Gas Production: <strong>Pending start-up</strong></p>-->
                        <!-- Installations Nav -->
                        <div class="installations-nav">
                            <h3 class="blue">More PONDUS Installations</h3>

                            <div class="columns">
                                <div class="column">
                                    <a href="#/installation-naples-italy">
                                        <div class="installations-nav-wrapper left-arrow blue-arrow">
                                            <div class="vcenter">
                                                <p>Foce Regi Lagni</p>
                                                <span>Naples, Italy</span>
                                            </div>
                                        </div>
                                    </a>
                                </div> <!-- /.column -->

                                <div class="column">
                                    <a href="#/installation-grossklaeranlage">
                                        <div class="installations-nav-wrapper right-arrow blue-arrow">
                                            <div class="vcenter">
                                                <p>Großkläranlage Stammheim</p>
                                                <span>Cologne-Stammheim, Germany</span>
                                            </div>
                                        </div>
                                    </a>
                                </div> <!-- /.column -->
                            </div> <!-- /.columns -->
                        </div> <!-- /.installations-nav -->
                        </div>
                    </div> <!-- /.column -->
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>