﻿<script>
    var pageId = 47; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button" ></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>Installation - City of Wyoming Clean Water Plant</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title no-border">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Installation - City of Wyoming Clean Water Plant</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/thk/City-of-Wyoming-MI-THK350.png" alt="Wyoming MI THK350" />
                            </li>
                            <li>
                                <img src="images/thk/Wyoming MI.svg" alt="Wyoming MI Performance Chart" />
                            </li>
							<li>
                                <img src="images/thk/Wyoming MI Power.svg" alt="Wyoming MI Power Usage" />
                            </li>
                        </ul>
                    </div>    
                </div> <!-- /.column -->

                <div class="product-overview-title column text-right">
                    <h1 class="border-bottom">City of Wyoming Clean Water Plant</h1>
                    <div class="product-overview-content">
                        <p>Location: <strong>Wyoming, Michgan</strong></p>
                        <p>Plant Size: <strong>90 MGD</strong></p>
                        <p>Installation: <strong>2019 (1) THK350 Sludge Thickener</strong></p>

                        <ul>
                            <li>
                                OPERATING DATA:
                                <ul style="list-style-type: disc;">
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">Feed @ 0.6-1.2% TS</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;"> 240 gpm average</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">95% capture</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">&lt;1 lb/ton polymer, active</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">&lt;0.12 kW/gpm</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px; margin-bottom:8px">6.5% TS TWAS</li>
                                </ul>
                            </li>
                        </ul>

                        <p>Two aging Bird 5100 modified dewatering centrifuges were needed to thicken WAS sludge to a total flow of 240 gpm. Each of the older Bird centrifuges operated at 80 kWh with a flow of 120 gpm. The large, accelerated mass and the relatively low flow rate of each unit were the primary sources for the plant's high power consumption.</p>

                        <p style="margin-bottom: 0px;"><strong>RESULTS</strong></p>
                        <ul style="list-style-type:disc; margin-left:22px">
                            <li class="list4">Installation of one THK350 replaced two large Bird 5100 centrifuges</li>
                            <li class="list4">Awarded an energy reduction grant due to the 75% power reduction, saving up to $88,300/yr ($0.08/kWh)</li>
                            <li class="list4">Solids discharge controlled for either off-site or land application via the patented hydro-pneumatic air which further fine tunes the sludge control
                                <ul style="list-style-type: circle;">
                                    <li class="list1">3.5-4.5% TS for off-site pumping</li>
                                    <li class="list1">5.5-6.5% TS for land application</li>
                                </ul>
                            </li>
                        </ul>

                        <!-- Installations Nav -->
                        <div class="installations-nav">
                            <h3>More THK Installations</h3>

                            <div class="columns">
                                <div class="column">
                                    <a href="#/installation-whitewater">
                                        <div class="installations-nav-wrapper left-arrow">
                                            <div class="vcenter">
                                                <p>Whitewater Wastewater Treatment Plant</p>
                                                <span>Whitewater, Wisconsin</span>
                                            </div>
                                        </div>
                                    </a>
                                </div> <!-- /.column -->

                                <div class="column">
                                    <a href="#/installation-gainesville">
                                        <div class="installations-nav-wrapper right-arrow">
                                            <div class="vcenter">
                                                <p>University of Florida</p>
                                                <span>Gainesville, Florida</span>
                                            </div>
                                        </div>
                                    </a>
                                </div> <!-- /.column -->
                            </div> <!-- /.columns -->
                        </div> <!-- /.installations-nav -->
                        </div>
                    </div> <!-- /.column -->
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->

    <!-- Full Width Image Gallery Slider -->
    <!--<div class="full-width-slider">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="full-width-flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/07/16 Grandville MI.jpg" alt="Grandville" />
                            </li>
                        </ul>
                    </div> 
                </div>
            </div> 
        </div> 
    </div>--> 
</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>