﻿<script>
    var pageId = 15; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button" ></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>Installation - Steven M. Clouse San Antonio Water System (SAWS)</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title no-border">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Installation - Steven M. Clouse San Antonio Water System (SAWS)</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li><img src="images/thk/SAWS-THK600.png" alt="SAWS THK600" /></li>
                            <li><img src="images/thk/San Antonio TX.svg" alt="San Antonio TX" /></li>
                        </ul>
                    </div>

                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="product-overview-title border-bottom">Steven M. Clouse San Antonio Water System (SAWS)</h1>
                    <div class="product-overview-content">
                        <p>Location: <strong>San Antonio, Texas</strong></p>
                        <p>Plant Size: <strong>80 MGD</strong></p>
                        <p>Installation: <strong>2019 (2) THK600 Sludge Thickener</strong></p>

                        <ul>
                            <li>
                                OPERATING DATA:
                                <ul style="list-style-type:disc;">
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">Feed @ 1.0-1.3% TS</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">800 gpm average</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">95% capture</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">2.0-2.7 lb/ton polymer, active</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px;">0.09-0.11 kW/gpm</li>
                                    <li class="list1" style="margin-left: 22px; margin-bottom: 8px; margin-bottom:8px;">6.5% TS TWAS</li>
                                </ul>
                            </li>
                        </ul>

                        <p>SAWS had four aging GBTs that could not handle the increasing flows. The sludge feed was a blend of WAS and primary sludge from two plants – SM Clouse and Leon Creek. The THKs ability to reduce polymer consumption by 50% was a key factor for the equipment choice.</p>

                        <p style="margin-bottom: 0px;"><strong>RESULTS</strong></p>
                        <ul style="list-style-type:disc; margin-left:22px;">
                            <li class="list4">Reduced polymer usage depending on seasonal usage, a savings of $100,000 to $400,000/yr</li>
							<li class="list4">Eliminated the need for continuous wash water by replacing the GBTs with THKs</li>
							<li class="list4">Enclosed THK system increased hygienic operation and safety for operators</li>
                        </ul>

                        <!-- Installations Nav -->
                        <div class="installations-nav">
                            <h3>More THK Installations</h3>

                            <div class="columns">
                                <div class="column">
                                    <a href="#/installation-gainesville">
                                        <div class="installations-nav-wrapper left-arrow">
                                            <div class="vcenter">
                                                <p>University of Florida</p>
                                                <span>Gainesville, Florida</span>
                                            </div>
                                        </div>
                                    </a>
                                </div> <!-- /.column -->

                                <div class="column">
                                    <a href="#/sharjah-municipality">
                                        <div class="installations-nav-wrapper right-arrow">
                                            <div class="vcenter">
                                                <p>Sharjah Municipality Drainage Department</p>
                                                <span>Sharjah, UAE</span>
                                            </div>
                                        </div>
                                    </a>
                                </div> <!-- /.column -->
                            </div> <!-- /.columns -->
                        </div> <!-- /.installations-nav -->
                    </div> <!-- /.column -->
                    </div>
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Full Width Image Gallery Slider -->
    <!--<div class="full-width-slider">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="full-width-flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/07/18 San Antonio.jpg" alt="San Antonio" />
                            </li>
                        </ul>
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>--> 
</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>