﻿<script>
    var pageId = 28; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item navbar-logo" href="#/">
                <!-- TODO: Grap an SVG and host local -->
                <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
            </a>

            <div class="scrolled-page-title is-vcentered">
                <div class="home-button-wrapper">
                    <a href="#/"><div class="home-button"></div></a>
                </div> <!-- /.home-button-wrapper -->

                <div class="back-button-wrapper">
                    <div class="back-button" ></div>
                </div> <!-- /.back-button-wrapper -->

                <div class="page-title-wrapper no-border">
                    <h1>Kenosha Resource Project</h1>
                </div> <!-- /.page-title-wrapper -->
            </div> <!-- /.scrolled-page-title -->

            <div class="hamburger-wrapper">
                <div class="btn-wrapper">
                    <a href="#/" class="btn">Wastewater Treatment to Resource Recovery Map</a>
                </div> <!-- /.btn-wrapper -->

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <p class="menu-label-wrapper">Menu</p>
                </a>
            </div> <!-- /.hamburger-wrapper -->
        </div>

        <div id="main-navigation" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
                <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
                <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
                <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
                <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
                <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
                <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
                <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
                <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
                <a class="navbar-item" href="#/history">History</a>
            </div>
        </div>
    </nav>

    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title" style="max-width:291px;">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button" ></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Kenosha Resource Project</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="column mobile-btn">
                    <div class="btn-wrapper">
                        <a href="#/" class="btn">Wastewater Treatment to Resource Recovery Map</a>
                    </div> <!-- /.btn-wrapper -->
                </div> <!-- /.column -->

                <div class="column">
                    <p><a href="#/kenosha-water-utility" class="blue">1) Kenosha Water Utility</a></p>
                    <p><a href="#/thk-primary" class="blue">2a) THK Series Sludge Thickener (Primary)</a></p>
                    <p><a href="#/thk-was" class="blue">2b) THK Series Sludge Thickener (WAS)</a></p>
                </div> <!-- /.column -->

                <div class="column">
                    <p><a href="#/pondus-2" class="blue">3) PONDUS™ Thermal Hydrolysis Process</a></p>
                    <p><a href="#/digesters" class="blue">4) Digester Improvements</a></p>
                    <p><a href="#/kwu" class="blue">5) CS Series Dewatering Centrifuge</a></p>
                </div> <!-- /.column -->

                <div class="column">
                    <p><a href="#/low-temp-belt-dryer" class="blue">6) Low-Temperature Belt Dryer</a></p>
                    <p><a href="#/biogas" class="blue">7) Biogas Conditioning System</a></p>
                    <p><a href="#/chp-units" class="blue">8) Combined Heat and Power Units (CHP)</a></p>
                </div> <!-- /.column -->

                <div class="column">
                    <p><a href="#/thermal-heat" class="blue">9) Thermal Heat</a></p>
                    <p><a href="#/electrical-energy" class="blue">10) Electrical Energy</a></p>
                    <p><a href="#/biosolids" class="blue">11) Class A Biosolids</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    <!-- Map-->
    <style>
        #animation_container {
            position: absolute;
            /* margin: auto; */
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        #map_container {
            width: 100%;
            height: 560px;
            /* position: relative; */
            /* margin-top: 30px; */
            margin-bottom: 110px;
        }
    </style>

    <script src="js/vendor/createjs/createjs.min.js"></script>
    <script src="kenosha_map.js"></script>
    <script>

        var canvas, stage, exportRoot, anim_container, dom_overlay_container, fnStartAnimation;

        function initMap() {
            canvas = document.getElementById("canvas");
            anim_container = document.getElementById("animation_container");
            dom_overlay_container = document.getElementById("dom_overlay_container");
            var comp = AdobeAn.getComposition("103566CD38DA7B4F95F9F394B7CB7BDE");
            var lib = comp.getLibrary();
            try {
                if (!(typeof gFontsFamilies === 'undefined' || gFontsFamilies === null))
                    LoadGFonts(gFontsFamilies, comp);
                if (!(typeof totalTypekitFonts === 'undefined' || totalTypekitFonts === null)) {
                    var typekitObject = { type: 'Typekit', loadedFonts: 0, totalFonts: totalTypekitFonts, callOnLoad: lib.tfontAvailable };
                    Typekit.load({
                        async: true,
                        'fontactive': function (family) {
                            isFontAvailable(family, typekitObject);
                        }
                    });
                }
            } catch (e) { };
            var loader = new createjs.LoadQueue(false);
            loader.addEventListener("fileload", function (evt) { handleFileLoad(evt, comp) });
            loader.addEventListener("complete", function (evt) { handleComplete(evt, comp) });
            var lib = comp.getLibrary();
            loader.loadManifest(lib.properties.manifest);

        }

        function handleFileLoad(evt, comp) {
            var images = comp.getImages();

            if (evt && (evt.item.type == "image")) { images[evt.item.id] = evt.result; }

        }

        function handleComplete(evt, comp) {

            //This function is always called, irrespective of the content. You can use the variable "stage" after it is created in token create_stage.

            var lib = comp.getLibrary();
            var ss = comp.getSpriteSheet();
            var queue = evt.target;
            var ssMetadata = lib.ssMetadata;
            for (i = 0; i < ssMetadata.length; i++) {
                ss[ssMetadata[i].name] = new createjs.SpriteSheet({ "images": [queue.getResult(ssMetadata[i].name)], "frames": ssMetadata[i].frames })
            }
            exportRoot = new lib.kenosha_map();
            stage = new lib.Stage(canvas);

            //Registers the "tick" event listener.

            fnStartAnimation = function () {
                stage.addChild(exportRoot);
                createjs.Ticker.framerate = lib.properties.fps;
                createjs.Ticker.addEventListener("tick", stage);
            }

            //Code to support hidpi screens and responsive scaling.

            AdobeAn.makeResponsive(true, 'both', false, 1, [canvas, anim_container, dom_overlay_container]);

            AdobeAn.compositionLoaded(lib.properties.id);
            fnStartAnimation();
        }

        initMap();
    </script>
    <div class="container canvas-container">
        <div class="columns" style="margin-left:0px !important; margin-right:0px !important;">
            <div class="column" style="padding:0px !important; padding-left:10px;">
                <div id="map_container">
                    <div id="animation_container" style="background-color:rgba(255, 255, 255, 1.00); margin:0px auto;">
                        <canvas id="canvas" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 1.00);"></canvas>
                        <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; position: absolute; left: 0px; top: 0px; display: block;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>