﻿<script>
    var pageId = 11; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button" ></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>Kenosha Water Utility Energy Optimization Resource Recovery Project</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title no-border">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button" ></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Kenosha Water Utility Energy Optimization Resource Recovery Project</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <img src="images/KWU/Kenosha-WI-Aerial.png" alt="Kenosha, Wisconsin" />
                </div>

                <div class="column text-right">
                    <h1 class="product-overview-title">Kenosha Water Utility Energy Optimization Resource Recovery Project</h1>
                    <h2 class="product-overview-subtitle border-bottom">Designing an integrated system to meet multiple goals</h2>
                    <div class="product-overview-content">
                        <p style="margin-bottom: 10px;">The Kenosha Water Utility completed the Energy Optimization Resource Recovery Project in 2015. This project:</p>

                        <ul style="list-style-type:disc; margin-left:22px;" >
                            <li class="list4">Reduced energy and solids handling costs by <strong>20%</strong></li>
                            <li class="list4">Reduced daily tonnage by <strong>1/3</strong> due to the low-temperature, dual belt dryer</li>
                            <li class="list4">Increased gas production by <strong>25%</strong> due to PONDUS and digester mixing</li>
                            <li style="margin-bottom:10px">Reduced from <strong>six to three</strong> digesters due to the THK200 thickening primary sludge</li>
                        </ul>

                        <p style="margin-bottom: 10px;">The project delivered a <strong>cost-effective</strong> and <strong>eco-friendly</strong> solution to biosolids handling, processing and disposal. This design integrated equipment and processes never used in North America, while incorporating the technologies into an existing building and a 1980s infrastructure. Goals included:</p>

                        <ul style="list-style-type:disc; margin-left:22px;">
                            <li class="list4">Increase biogas generation from the sludge anaerobic digestion</li>
                            <li class="list4">Generate electricity for the biogas to produce over 500 kW of continuous power for the facility</li>
                            <li class="list4">Use electricity generated to <strong>offset peak energy pricing</strong> during high-demand periods</li>
                            <li class="list4">Use electric and thermal energy to dry the biosolids and reduce the volume of biosolids</li>
                            <li class="list4">Reduce the volume and cost of landfilled biosolids</li>
                            <li class="list4">Produce <strong>high-quality biosoilds</strong> that meet Class A biosolids criteria</li>
                            <li style="margin-bottom:10px">Recover and use waste heat as the main thermal energy supply for the facility</li>
                        </ul>

                        <p>At the same time, the new process and individual technologies had to maintain the existing effluent quality and not increase ambient noise level, odor or particulates beyond the facility area.</p>
                        <p style="margin-bottom: 0px;"><strong>Project Roles</strong></p>
                        <p>The Kenosha Water Utility elected to use a design-build approach due to the complex and varied technologies associated with this project. Centrisys/CNP, a dewatering/thickening equipment manufacturer and a nutrient recovery/sludge optimization provider, served as the design-build developer. Donohue & Associates served as the engineer of record.</p>
                        <p style="margin-bottom: 0px;"><strong>Exceeding Client/Owner Needs</strong></p>
                        <p>The Kenosha Water Utility project represented a collaborative design-build partnership that brought together Donohue & Associates (engineers) Centrisys/CNP (project developer), contractors, subcontractors and Kenosha Water Utility to successfully complete the project on schedule and within budget. The design-build team was completed in 13 months within the original budget costs. A typical approach normally takes two years or more.</p>
                    </div> <!-- /.column -->
                    </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>