﻿<script>
    var pageId = 33; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    //App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    $("#pageVersionId").text("Static Generated");
    $("#statusBar").hide();
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>KWU - CS Series Dewatering Centrifuge</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <div class="mobile-secondary-menu" style="max-width:750px;">
            
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title no-border" style="max-width: 500px;">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>KWU - CS Series Dewatering Centrifuge</h1>
                        </div> <!-- /.column -->

                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    <!-- Benefits - Image Left - Bullets Right -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <img src="images/KWU/Kenosha-CS.png" alt="Kenosha CS" />
                </div>

                <div class="column text-right">
                    <h1 class="product-overview-title border-bottom">CS Series Dewatering Centrifuge</h1>
                    <div class="product-overview-content">
                        <p>In 2009, Kenosha Water Utility (KWU) installed a Centrisys CS21-4HC dewatering centrfiuge.</p>

                        <!--<ul class="icon-ul">
        <li class="icon-droplet">Replaced three plate and frame presses</li>
        <li class="icon-digester">Reduced dewatering footprint down to<strong>25%</strong></li>
        <li class="icon-truck"><strong>Eliminated</strong> lime and ferric usage</li>
        <li class="icon-gas-droplet">Reduced polymer consumption</li>
        <li class="icon-molecule">Reduced disposal and operation costs</li>
        <li class="icon-foaming">ROI was 1.5 years</li>
    </ul>-->
                        <ul style="list-style-type:disc; margin-left:22px;">
                            <li class="list4">Replaced three plate and frame presses</li>
                            <li class="list4">Reduced dewatering footprint down to <strong>25%</strong></li>
                            <li class="list4"><strong>Eliminated</strong> lime and ferric usage</li>
                            <li class="list4">Reduced polymer consumption</li>
                            <li class="list4">Reduced disposal and operation costs</li>
                            <li class="list4">ROI was 1.5 years</li>
                        </ul>
                    </div>
                    </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>