﻿<script>
    var pageId = 8; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    //App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    $("#pageVersionId").text("Static Generated");
    $("#statusBar").hide();
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1 style="font-size: 26px">MagPrex&trade; Post-Digestion P-Recovery</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <div class="mobile-secondary-menu" style="max-width:550px;">
            <div class="nav-link">
                <p><a href="#MagPrex-how-it-works" class="blue">How It Works</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#MagPrex-videos" class="blue">Videos</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#MagPrex-installations" class="blue">Installations</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/magprex-calprex-2" class="blue">CalPrex + MagPrex</a></p>
            </div>  <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title magprex-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button blue-arrow"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>MagPrex&trade; Post-Digestion P-Recovery</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#MagPrex-how-it-works" class="blue">How It Works</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#MagPrex-videos" class="blue">Videos</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#MagPrex-installations" class="blue">Installations</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/magprex-calprex-2" class="blue">CalPrex + MagPrex</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Benefits - Image Left - Bullets Right -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <img src="images/magprex/Struvite-Pipe-KO.png" alt="Struvite Pipe KO" />
                </div>

                <div class="column text-right">
                    <h1 class="product-overview-title blue">MagPrex™ Post-Digestion Phosphorous Recovery</h1>
                    <h2 class="product-overview-subtitle border-bottom">Remove Struvite while <strong>Signifigantly Improving</strong> Treatment Efficiency</h2>
                    <div class="product-overview-content">
                        <ul class="icon-ul">
                            <li class="icon-molecule" style="margin-bottom: 20px;"><div class="icon-text">Reduce polymer consumption up to <strong>30%</strong></div></li>
                            <li class="icon-truck" style="margin-bottom: 20px;"><div class="icon-text">Reduce disposal costs up to <strong>20%</strong></div></li>
                            <li class="icon-cycle" style="margin-bottom: 20px;"><div class="icon-text">Reduce soluble phosphate (PO<sub>4</sub>-P) recycle load up to <strong>90%</strong></div></li>
                            <li class="icon-wrench" style="margin-bottom: 20px;"><div class="icon-text">Reduce maintenance costs up to <strong>50%</strong></div></li>
                            <li class="icon-fertilizer" style="margin-bottom: 20px;"><div class="icon-text">Increase revenue from fertilizer up to <strong>20%</strong></div></li>
                            <li class="icon-sodium-hydrox" style="margin-bottom: 20px;"><div class="icon-text"><strong>No</strong> sodium hydroxide required</div></li>
                        </ul>
                    </div>
                    </div>
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->

    <!-- In-Page Content Section Divider -->
    <div class="section-divider padding-top" id="MagPrex-how-it-works">
        <div class="container">
            <h1>How It Works</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->

    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <img src="images/magprex/Denver-CO-MagPrex-2021.png" alt="Denver" />
                </div>

                <div class="column text-right">
                    <h1 class="how-it-works-title blue">MagPrex <strong>Optimizes</strong> the Sludge Treatment Process Like No Other System</h1>
                    <h2 class="how-it-works-subtitle border-bottom">The <strong>Affordable Option</strong> Giving All Plant Sizes the Ability to Control Struvite and Recover Phosphorus</h2>
                    <div class="how-it-works-content">
                    <p>MagPrex turns struvite into an opportunity for resource recovery. In wastewater reclamation plants with Biological Phosphorus Removal (BPR), phosphorus accumulates in sludge and releases soluble phosphorus (PO<sub>4</sub>-P) in an anaerobic condition. Elevated soluble phosphorus levels in sludge causes operational challenges.</p>

                    <ul style="list-style-type: disc; margin-left:22px">
                        <li class="list4">Form struvite by stripping out CO<sub>2</sub>, elevates the pH and adds MgCl<sub>2</sub> to augment Mg<sub>2</sub>+</li>
                        <li class="list4">Install between the anaerobic digester and the dewatering equipment</li>
                        <li class="list4">
                            Convert the orthophosphate into <strong>struvite crystals</strong> with two recovery options:
                            <ul style="list-style-type:circle;">
                                <li class="list1">Harvesting: Struvite crystals are removed from the digested sludge and used as a beneficial fertilizer</li>
                                <li class="list1" style="margin-bottom: 10px;">Sequestration: Leave the struvite crystals in the sludge</li>
                            </ul>
                        </li>
                    </ul>

                    <p>Want to recover even more phosphorus? <a href="#/magprex-calprex-2" class="blue">Learn more when you combine CalPrex and MagPrex.</a></p>
                </div>
                    </div>
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->

    <!-- Full Width Image Gallery Slider -->
    <div class="full-width-slider">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="full-width-flexslider blue-slider-arrows">
                        <ul class="slides">
                            <li>
                                <img src="images/magprex/MagPrex-Flow-Diagram-wLabels-2021.png" alt="MagPrex Flow Diagram" />
                            </li>
                            <li>
                                <img src="images/magprex/MagPrex chart.svg" alt="MagPrex chart"  />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.full-width-slider -->

    <!-- In-Page Content Section Divider -->
    <div class="section-divider padding-top" id="MagPrex-videos">
        <div class="container">
            <h1>Videos</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->

    <!-- Video Gallery -->
    <div class="video-gallery" id="videos">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Denverstruvitetrim-97.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/Denver-Struvit-Trim-thumb.png" alt="What Captured Struvite Looks Like" />
                        </a>
                    </div>

                    <h3 class="blue">What Captured Struvite Looks Like</h3>
                </div> <!-- /.column -->

                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Getting The Most From A Nutrient Recovery Process.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/Getting-the-Most-From-a-Nutrient-Recovery-Process-thumb.png" alt="Getting the Most From a Nutrient Recovery Process" />
                        </a>
                    </div>

                    <h3 class="blue">Getting the Most From a Nutrient Recovery Process</h3>
                </div> <!-- /.column -->

                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Fort Collins Colorado Meets the Lower Phosphorus Discharge Levels set by the State.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/Fort-Collins-Colorado-Meets-The-Lower-Phosphorus_thumb.png" alt="Fort Collins, Colorado Meets the Lower Phosphorus Discharge Levels set by the State" />
                        </a>
                    </div>

                    <h3 class="blue">Fort Collins, Colorado Meets the Lower Phosphorus Discharge Levels set by the State</h3>
                </div> <!-- /.column -->

                <!-- <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="/videos/Denver Colorado has the World's Largest Struvite Recovery System from Digestate.mp4">
                            <div class="video-overlay"></div>
                            <img src="/videos/Denver-Colorado-Has-The-Worlds-Largest-Struvite-thumb.png" alt="Denver, Colorado has the World's Largest Struvite Recovery System from Digestate" />
                        </a>
                    </div>

                    <h3 class="blue">Denver, Colorado has the World's Largest Struvite Recovery System from Digestate</h3>
                </div> /.column -->

            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.video-gallery -->

<!-- ADDED FOR FOURTH TO THE NEW LINE -->

    <div class="video-gallery" id="videos">
        <div class="columns" style="width:33%; padding-left:25px;">
            <div class="column">
                <div class="video-wrapper">
                    <a class="popup-youtube" href="videos/Denver Colorado Has The World's Largest Struvite Recovery System From Digestate.mp4">
                        <div class="video-overlay"></div>
                        <img src="videos/Denver-Colorado-Has-The-Worlds-Largest-Struvite-thumb.png" alt="Denver, Colorado has the World's Largest Struvite Recovery System from Digestate" />
                    </a>
                </div>
        

                <h3 class="blue">Denver, Colorado has the World's Largest Struvite Recovery System from Digestate</h3>
            </div> <!-- /.column -->
        </div>
    </div>

    <!-- In-Page Content Section Divider -->
    <div class="section-divider padding-top" id="MagPrex-installations">
        <div class="container">
            <h1>Installations</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->

    <!-- Installations Map -->
    <div class="installations-map" id="installations">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <!--<img src="images/img-install-map-us.svg" alt="North America Map" />-->
                    <h3 class="blue">North America</h3>
                    <p><a href="#/installation-savage" class="blue">Little Patuxent Water Reclamation Plant, Howard County,</a> <span>Savage, Maryland</span></p>
                    <p><a href="#/installation-valley-city" class="blue">Liverpool Wastewater Treatment Plant, Medina County,</a> <span>Valley City, Ohio</span></p>
                    <p><a href="#/installation-elgin" class="blue">Fox River Water Reclamation District,</a> <span>Elgin, Illinois</span></p>
                    <p><a href="#/installation-fort-collins" class="blue">Drake Water Reclamation Facility,</a> <span>Fort Collins, Colorado</span></p>
                    <p><a href="#/installation-denver" class="blue">Metro Water Recovery,</a> <span>Denver, Colorado</span></p>
                    <p><a href="#/installation-salt-lake-city" class="blue">Central Valley Water Reclamation Facility,</a> <span>Salt Lake City, Utah</span></p>
                    <!-- //TODO: GET LINK -->
                    <p><a href="#/installation-meridian" class="blue">Meridian Wastewater Plant,</a> <span>Meridian, Idaho</span></p>
					<p><a href="#/installation-nampa" class="blue">Nampa Wastewater Treatment Plant,</a> <span>Nampa, Idaho</span></p>
                </div> <!-- /.column -->

                <div class="column">

                    
                </div> <!-- /.column -->

                <div class="column">

                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.installations-map -->
</div>
