﻿<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>
        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>CalPrex<sup style="font-size:10px;">&reg;</sup> + MagPrex<sup>&trade;</sup></h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <div class="mobile-secondary-menu" style="max-width:500px;">
            <div class="column nav-link">
                <p><a href="#/magprex" class="blue">How It Works</a></p>
            </div> <!-- /.column -->
            <div class="nav-link">
                <p><a href="#/magprex" class="blue">MagPrex</a></p>
            </div> <!-- /.column -->
            <div class="nav-link">
                <p><a href="#/calprex" class="blue">CalPrex</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px;">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex<sup>&trade;</sup> Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS<sup>&trade;</sup> Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title magandcal-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button blue-arrow"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>CalPrex<sup style="font-size:10px;">&reg;</sup> + MagPrex<sup>&trade;</sup></h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/magprex" class="blue">MagPrex</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/calprex" class="blue">CalPrex</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#magprex-calprex-how-it-works" class="blue">How It Works</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    <!-- Benefits - Image Left - Bullets Right -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <!--<img src="images/09/Struvite.png" alt="Struvite" />-->
                    <img src="images/calprex/Brushite.png" alt="Brushite" />
                </div>

                <div class="column text-right">
                    <h1 class="blue">CalPrex<sup style="font-size: 15px;">&reg;</sup> + MagPrex<sup>&trade;</sup></h1>
                    <h2 class="border-bottom">High Efficiency <strong>P-Recovery</strong> and Digester Protection</h2>

                    <ul class="icon-ul">
                        <li class="icon-cycle" style="margin-bottom: 20px;"><div class="icon-text">Reduce phosphate recycle load up to <strong>90%</strong></div></li>
                        <li class="icon-molecule" style="margin-bottom: 20px;"><div class="icon-text">Reduce polymer consumption up to <strong>30%</strong></div></li>
                        <li class="icon-truck" style="margin-bottom: 20px;"><div class="icon-text">Reduce disposal costs up to <strong>20%</strong></div></li>
                        <li class="icon-wrench" style="margin-bottom: 20px;"><div class="icon-text">Reduce maintenance costs up to <strong>50%</strong></div></li>
                        <li class="icon-fertilizer" style="margin-bottom: 20px;"><div class="icon-text">Recover over <strong>50%</strong> of total phosphorus</div></li>
                        <li><!-- Columns break weird when there's an odd number. --></li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- In-Page Content Section Divider -->
    <div class="section-divider padding-top" id="magprex-calprex-how-it-works">
        <div class="container">
            <h1>How It Works</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->
    <!-- Benefits - Image Left - Bullets Right 2 -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <!--<img src="images/04/Struvite.png" alt="Struvite" />-->
                    <img src="images/calprex/Struvite.png" alt="Struvite" />
                </div>

                <div class="column text-right">
                    <h1 class="product-overview-title blue border-bottom"><strong>Maximize</strong> Phosphorus Recovery, <br /><strong>Minimal</strong> Sludge Production</h1>
                    <div class="product-overview-content">
                        <p>The CalPrex + MagPrex combination captures 50%+ total phosphorus entering treatment plants, with a minimal addition of chemicals.</p>
                        <ul>
                            <li style="margin-bottom:8px">
                                <strong>CalPrex Process:</strong>
                                <ul style="list-style-type: disc;">
                                    <li class="list2" style="margin-bottom: 10px;">Harnesses fermentation to acidify bio-P sludge</li>
                                    <li class="list2" style="margin-bottom: 10px;">Solubilizes <strong>over 65%</strong> of phosphorus in the fermentation process</li>
                                    <li class="list2" style="margin-bottom: 10px;">Isolates the soluble phosphorus (PO<sub>4</sub>-P) in the dewatered fermented sludge centrate</li>
                                    <li class="list2" style="margin-bottom: 10px;">Precipitates soluble phosphorus (PO<sub>4</sub>-P) by calcium hydroxide in the reactor</li>
                                    <li class="list2" style="margin-bottom: 10px;">Maintains a pH solution around 6.5</li>
                                    <li class="list2" style="margin-bottom: 10px;">Recovers phosphorus as brushite (CaHPO<sub>4</sub>• 2H<sub>2</sub>O), a market-ready, <strong>high-quality fertilizer</strong></li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <strong>MagPrex Process:</strong>
                                <ul style="list-style-type: disc;">
                                    <li class="list2" style="margin-bottom: 10px;">Converts the remaining soluble phosphate (PO<sub>4</sub>-P) in digested sludge to struvite (MgNH<sub>4</sub>PO<sub>4</sub>• 6H<sub>2</sub>O)</li>
                                    <li class="list2" style="margin-bottom: 10px;">Air strips CO<sub>2</sub> and adds magnesium chloride</li>
                                    <li class="list2" style="margin-bottom: 10px;">Recovers phosphorus as struvite, a <strong>market-ready fertilizer</strong></li>
                                    <li class="list2" style="margin-bottom: 10px;">Reduces the phosphorus recirculation by <strong>90%</strong></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->
    <!-- Full Width Image Gallery Slider -->
    <div class="full-width-slider">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="full-width-flexslider blue-slider-arrows">
                        <ul class="slides">
                            <li>
                                <img src="images/calprex/CalPrex-MagPrex-Flow-Diagram-wLabels-2021.png" alt="CalPrex MagPrex Flow Diagram" />
                            </li>
                            <li>
                                <img src="images/calprex/CalPrex MagPrex Chart.svg" alt="CalPrex MagPrex Chart" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.full-width-slider -->
</div>

<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>