﻿<script>
    var pageId = 31; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    //App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    $("#pageVersionId").text("Static Generated");
    $("#statusBar").hide();
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button" ></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>KWU - PONDUS™ Thermal Hydrolysis Process</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title no-border">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button blue-arrow"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>KWU - PONDUS™ Thermal Hydrolysis Process</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider blue-slider-arrows">
                        <ul class="slides">
                            <li>
                                <img src="images/KWU/PONDUS-Reactor-Pumps-Heat-Exchanger-Hot-water-Supply-Kenosha-cap.png" alt="PONDUS Reactor Pumps Heat Exchanger Hot water Supply Kenosha" />
                            </li>
                            <li>
                                <img src="images/KWU/PONDUS-Heat-Exchanger-Kenosha-cap.png" alt="PONDUS Heat Exchanger Kenosha" />
                            </li>
                            <li>
                                <img src="images/KWU/PONDUS-Hot-Water-System-Kenosha-cap.png" alt="PONDUS Hot Water System Kenosha" />
                            </li>
                            <li>
                                <img src="images/KWU/PONDUS-Reactor-Kenosha-cap.png" alt="PONDUS Reactor Kenosha" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="product-overview-title border-bottom">PONDUS™ Thermal Hydrolysis Process</h1>
                    <div class="product-overview-content">
                        <p>PONDUS uses caustic soda and heated water to break down waste-activated sludge and enhance biogas production.</p>

                        <ul style="list-style-type:disc; margin-left:22px;">
                            <li class="list4">The thermal energy, required for the hydrolysis process, transfers and heats the digesters</li>
                            <li class="list4">This process breaks down the cell membranes of the thickened waste-activated sludge, releasing organic acids which are consumed quicker in the anaerobic digestion process</li>
                            <li class="list4">Following installation, KWU achieved a <strong>30%</strong> increase in biogas production</li>
                            <li class="list4">Minimal digester foaming occurs since the upgrade, attributed to PONDUS</li>
                        </ul>
                    </div> <!-- /.column -->
                    </div>
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>