﻿<script>
    var pageId = 2; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    //App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    $("#pageVersionId").text("Static Generated");
    $("#statusBar").hide();
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>PONDUS™ Thermal Hydrolysis Process (THP)</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <div class="mobile-secondary-menu" style="max-width:600px;">
            <div class="nav-link">
                <p><a href="#pondus-how-it-works" class="blue">How It Works</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#pondus-performance-data" class="blue">Performance Data</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#pondus-videos" class="blue">Videos</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#pondus-installations" class="blue">Installations</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title pondus-title" style="max-width:500px;">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button blue-arrow"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>PONDUS™ Thermal Hydrolysis Process (THP)</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#pondus-how-it-works" class="blue">How It Works</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#pondus-performance-data" class="blue">Performance Data</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#pondus-videos" class="blue">Videos</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#pondus-installations" class="blue">Installations</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Benefits - Image Left - Bullets Right -->
    <div class="benefits">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <img src="images/pondus/Wolfsburg-Germany-FS-Award.png" alt="Wolfsburg, Germany" />
                </div>

                <div class="column text-right">
                    <h1 class="product-overview-title blue">PONDUS™ Thermal Hydrolysis Process (THP)</h1>
                    <h2 class="product-overview-subtitle border-bottom"><strong>Simple</strong> and <strong>Effective</strong> without a Pressure Vessel</h2>
                    <div class="product-overview-content">
                        <ul class="icon-ul">
                            <li class="icon-droplet" style="margin-bottom:20px;"><div class="icon-text">Reduce viscosity of thickened WAS up to <strong>80%</strong></div></li>
                            <li class="icon-digester" style="margin-bottom:20px;"><div class="icon-text">Reduce anaerobic digestion volume up to <strong>50%</strong></div></li>
                            <li class="icon-truck" style="margin-bottom:20px;"><div class="icon-text">Reduce biosolids disposal up to <strong>30%</strong></div></li>
                            <li class="icon-gas-droplet" style="margin-bottom:20px;"><div class="icon-text">Increase biogas production up to <strong>30%</strong></div></li>
                            <li class="icon-molecule" style="margin-bottom:20px;"><div class="icon-text">Reduce polymer consumption at dewatering up to <strong>20%</strong></div></li>
                            <li class="icon-foaming" style="margin-bottom:20px;"><div class="icon-text">Reduce digester foaming</div></li>
                        </ul>
                    </div>
                    </div>
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.benefits -->

    <!-- In-Page Content Section Divider -->
    <div class="section-divider" id="pondus-how-it-works">
        <div class="container">
            <h1>How It Works</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider blue-slider-arrows">
                        <ul class="slides">
                            <li>
                                <img src="images/pondus/PONDUS chart 1 2021.svg" alt="PONDUS Chart 1" />
                            </li>
                            <li>
                                <img src="images/pondus/PONDUS chart 2 2021.svg" alt="PONDUS Chart 2" />
                            </li>
                            <li>
                                <img src="images/pondus/PONDUS chart 3 2021.svg" alt="PONDUS Chart 3" />
                            </li>
                            <li>
                                <img src="images/pondus/PONDUS chart 4 2021.svg" alt="PONDUS Chart 4" />
                            </li>
                            <li>
                                <img src="images/pondus/PONDUS chart 5 2021.svg" alt="PONDUS Chart 5" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="how-it-works-title blue">PONDUS is <strong>Simple</strong> to Operate</h1>
                    <h2 class="how-it-works-subtitle border-bottom">As a <strong>Cost-Effective</strong> Choice, PONDUS Requires Little Day-To-Day Plant Supervision</h2>
                    <div class="how-it-works-content">
                        <p>PONDUS, a thermal/alkaline hydrolysis process, is designed for solids from 4% to 12% and uses a combination of caustic soda (NaOH) and low grade heated water (140 °F to 160 °F) to break down the cell walls.</p>

                        <ul style="list-style-type:disc; margin-left:20px;">
                            <li class="list4"><strong>No heat exchangers needed</strong> to cool sludge after hydrolysis to maintain an optimum digester temperature</li>
                            <li class="list4">
                                <strong>No pressure vessel required</strong>

                                <ul style="list-style-type:circle;">
                                    <li class="list1">Safer operation</li>
                                    <li class="list1">Certified steam operators or boiler makers for maintenance are not necessary</li>
                                    <li class="list1">Reduces operating and energy costs</li>
                                </ul>
                            </li>
                            <li class="list4"><strong>Saturated steam option</strong> for sludge above 7% total solids (TS) or with high viscosity</li>
                            <li class="list4">
                                <strong>Compact, small footprint</strong> solution for all sized plants:

                                <ul style="list-style-type:circle;">
                                    <li class="list1">Hydrolysis reactor operating under atmospheric pressure</li>
                                    <li class="list1">High-efficiency hot water heat exchanger</li>
                                    <li class="list1">Chemical dosing station</li>
                                    <li class="list1">Progressive cavity pumps</li>
                                    <li class="list1">Instrumentation and controls</li>
                                </ul>
                            </li>
                            <li class="list4">
                                Typical maintenance includes

                                <ul style="list-style-type:circle;">
                                    <li class="list1">Pump maintenance</li>
                                    <li class="list1">Heat exchanger cleaning</li>
                                </ul>
                            </li>
                        </ul>
                        </div>
                    </div> <!-- /.column -->
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->

    <!-- In-Page Content Section Divider -->
    <div class="section-divider" id="pondus-performance-data">
        <div class="container">
            <h1>Performance Data</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->

    <!-- Full Width Image Gallery Slider -->
    <div class="full-width-slider">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="full-width-flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/pondus/PONDUS biogas production.svg" alt="PONDUS Biogas Production"/>
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.full-width-slider -->

    <!-- In-Page Content Section Divider -->
    <div class="section-divider" id="pondus-videos">
        <div class="container">
            <h1>Videos</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->

    <!-- Video Gallery -->
    <div class="video-gallery" id="videos">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Cnp Pondus Tcp Process-67.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/CNP-PONDUS-TCP-Process-thumb.png" alt="PONDUS TCP Process" />
                        </a>
                    </div>

                    <h3 class="blue">PONDUS TCP Process</h3>
                </div> <!-- /.column -->

                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Cnp Pondus Viscosity Noaudio-69.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/CNP-PONDUS-viscosity-thumb.png" alt="How PONDUS Reduces Sludge Viscosity" />
                        </a>
                    </div>

                    <h3 class="blue">How PONDUS Reduces Sludge Viscosity</h3>
                </div> <!-- /.column -->

                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Cnp Pondus Thermal Hydrolysis For Plants Of All Sizes.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/CNP-PONDUS-Thermal-Hydrolysis-for-Plants-of-all-Sizes-thumb.png" alt="PONDUS Thermal Hydrolysis for Plants of all Sizes" />
                        </a>
                    </div>

                    <h3 class="blue">PONDUS Thermal Hydrolysis for Plants of all Sizes</h3>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.video-gallery -->

    <!-- In-Page Content Section Divider -->
    <div class="section-divider" id="pondus-installations">
        <div class="container">
            <h1>Installations</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->

    <!-- Installations Map -->
    <div class="installations-content installations-map" id="installations">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h3 class="blue">Global</h3>
                    <p><a href="#/installation-kenosha" class="blue">Kenosha Water Utility Wastewater Treatment Plant</a> <span>Kenosha, Wisconsin</span></p>
					<p><a href="#/installation-lohne-germany" class="blue">Löhne-Rießel Wastewater Treatment Plant</a> <span>Löhne, Germany</span></p>
                    <p><a href="#/installation-nordhorn-germany" class="blue">Nordhorn Komunale Betriebe AöR</a> <span>Nordhorn, Germany</span></p>
                    <p><a href="#/installation-ratekau-germany" class="blue">Kläranlage Ratekau</a> <span>Ratekau, Germany</span></p>
                    <p><a href="#/installation-uelzen-germany" class="blue">Kläranlage Uelzen</a> <span>Uelzen, Germany</span></p>
                </div> <!-- /.column -->

                <div class="column">
                    <h3 class="blue">&nbsp;</h3>
                    <p><a href="#/installation-wolfsburg-germany" class="blue">Kläranlage Wolfsburg</a> <span>Wolfsburg, Germany</span></p>
                    <p><a href="#/installation-gifhorn-germany" class="blue">Kläranlage Gifhorn</a> <span>Gifhorn, Germany</span></p>
                    <p><a href="#/installation-naples-italy" class="blue">Foce Regi Lagni</a> <span>Naples, Italy</span></p>
                    <p><a href="#/installation-goeppingen-germany" class="blue">Stadtentwaesserung Göppingen</a> <span>Göppingen, Germany</span></p>
					<p><a href="#/installation-grossklaeranlage" class="blue">Großkläranlage Stammheim</a> <span>Cologne-Stammheim, Germany</span></p>
                </div> <!-- /.column -->

                <div class="column">
                    <h3 class="blue">&nbsp;</h3>
                    <p><a href="#/installation-klaerwerk-mettingen" class="blue">Klärwerk Mettingen</a> <span>Mettingen, Germany</span></p>
                    <p><a href="#/installation-klaerwerk-erlangen" class="blue">Klärwerk Erlangen</a> <span>Erlangen, Germany</span></p>
                    <p><a href="#/installation-wasserzweckverband" class="blue">Wasserzweckverband Saale-Fuhne-Ziethe</a> <span>Bernburg, Germany</span></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.installations-map -->
</div>