﻿<script>
    var pageId = 10; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <a href="#" class="back-btn"><div class="back-button"></div></a>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>Service + Repair</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <div class="mobile-secondary-menu" style="max-width:900px;">
            <div class="nav-link margin-20">
                <p><a href="#service-repair-videos" class="orange">Videos</a></p>
            </div> <!-- /.column -->

            <div class="nav-link margin-20">
                <p><a href="#/centrifuge-repair" class="orange">Centrifuge Repair</a></p>
            </div> <!-- /.column -->

            <div class="nav-link margin-20">
                <p><a href="#/centrifuge-spare-replacement-parts" class="orange">Centrifuge Spare and Replacement Parts</a></p>
            </div> <!-- /.column -->

            <div class="nav-link margin-20">
                <p><a href="#/centrifuge-upgrades" class="orange">Centrifuge Upgrades</a></p>
            </div> <!-- /.column -->

            <div class="nav-link margin-20">
                <p><a href="#service-repair-locations" class="orange">Service and Repair Center Locations</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title service-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>Service + Repair</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#service-repair-videos" class="orange">Videos</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/centrifuge-repair" class="orange">Centrifuge Repair</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/centrifuge-spare-replacement-parts" class="orange">Centrifuge Spare and Replacement Parts</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/centrifuge-upgrades" class="orange">Centrifuge Upgrades</a></p>
                </div> <!-- /.column -->
            
                <!--
                <div class="nav-link">
                    <p><a class="orange">Centrisys Service Agreements</a></p>
                </div> -->

                <div class="nav-link">
                    <p><a href="#service-repair-locations" class="orange">Service and Repair Center Locations</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/service/Service-Team.png" alt="Service team" />
                            </li>
                            <li>
                                <img src="images/service/Service-NYC.png" alt="Service team in New York City" />
                            </li>
                            <li>
                                <img src="images/service/MachineShop-WorkingOnLathe.png" alt="Machine shop working on Lathe" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 product-overview-title>Increase Productivity. Improve Performance.</h1>
                    <h2 class="product-overview-subtitle border-bottom">Decanter Centrifuge service, repair and optimization for ALL brands</h2>
                    <div class="product-overview-content">
                        <p style="margin-bottom: 5px;">Over the past 30+ years, Centrisys built our company and reputation by delivering a higher standard of decanter centrifuge service. It's the combination of experience and expertise specific to centrifuge technology that gives us the upper hand for the most comprehensive repairs on ALL centrifuge brands.</p>

                        <ul style="list-style-type:disc; margin-left:22px;">
                            <li class="list4"><a href="#/centrifuge-repair">Centrifuge Repair</a></li>
                            <li class="list4"><a href="#/centrifuge-spare-replacement-parts">Centrifuge Spare and Replacement Parts</a></li>
                            <li class="list4" style="margin-bottom: 5px;"><a href="#/centrifuge-upgrades">Centrifuge Upgrades</a></li>
                            <!--<li><a href="#/centrisys-service-agreements">Centrisys Service Agreements</a></li>-->
                        </ul>

                        <p>Our trained technicians service the following decanter centrifuge brands: Alfa Laval, Andritz, Bird, DeLaval, Derrick, Flottweg, GEA Westfalia, Humboldt, Hutchinson Hayes, Sharples and many more.</p>
                    </div> <!-- /.column -->
                    </div>
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
    <!-- In-Page Content Section Divider -->
    <div class="section-divider" id="service-repair-videos">
        <div class="container">
            <h1>Videos</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->
    <!-- Video Gallery -->
    <div class="video-gallery" id="videos">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/1 Bearings Diagnosing.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/1-Bearings-Diagnosing-thumb.png" alt="How to diagnose internal and external bearing damage on a centrifuge" />
                        </a>
                    </div>

                    <h3>How to Diagnose Internal and External Bearing Damage on a Centrifuge</h3>
                </div> <!-- /.column -->

                <div class="column">
                    <div class="video-wrapper"><!-- charlie-->
                        <a class="popup-youtube" href="videos/2 Preventing Bearing Damage-10.mp4">
                                <div class="video-overlay"></div>
                                <img src="videos/2-Prevent-Bearing-Damage-thumb.png" alt="How to prevent centrifuge bearing damage during storage" />
                            </a>
</div>

                    <h3>How to Prevent Centrifuge Bearing Damage During Storage</h3>
                </div> <!-- /.column -->

                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/3 Preventing Bearing Damage Transportation-34.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/3-Preventing-Bearing-Damage-Transportation-thumb.png" alt="How to prevent centrifuge bearing damage during transportation" />
                        </a>
                    </div>

                    <h3>How to Prevent Centrifuge Bearing Damage During Transportation</h3>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->

            <div class="columns">
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/4 Troubleshooting Speed Sensor.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/4-Troubleshooting-Speed-Sensor-thumb.png" alt="How to troubleshoot a speed sensor on a decanter centrifuge " />
                        </a>
                    </div>

                    <h3>How to Troubleshoot a Speed Sensor on a Decanter Centrifuge </h3>
                </div> <!-- /.column -->

                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/5 Checking Lubricant Flow Main Bearings-39.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/5-Checking-Lubricant-Flow-Main-Bearings-thumb.png" alt="How to check the lubricant flow to the main bearings of a decanter centrifuge" />
                        </a>
                    </div>

                    <h3>How to Check the Lubricant Flow to the Main Bearings of a Decanter Centrifuge</h3>
                </div> <!-- /.column -->

                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/6 Verifying Differential Speed-42.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/6-Verifying-Differential-Speed-thumb.png" alt="How to verify calibration of differential speed" />
                        </a>
                    </div>

                    <h3>How to Verify Calibration of Differential Speed</h3>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->

            <div class="columns">
                <div class="column ">

                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/7 Zero Differential Speed-45.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/7-Zero-Differential-Speed-thumb.png" alt="What is zero differential speed and how to avoid it" />
                        </a>
                    </div>

                    <h3>What is Zero Differential Speed and How to Avoid It</h3>
                </div> <!-- /.column -->

                <div class="column ">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/8 Power Washing-48.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/8-Power-Washing-thumb.png" alt="Power Washing" />
                        </a>
                    </div>

                    <h3>Is it Okay to Power Wash a Centrifuge?</h3>
                </div> <!-- /.column -->

                <div class="column ">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/9 Greasing Internal Bearings-51.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/9-Greasing-Internal-Bearings-thumb.png" alt="Greasing Internal Bearings" />
                        </a>
                    </div>

                    <h3>How to Grease the Internal Bearings of a Decanter Centrifuge </h3>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.video-gallery -->
    <!-- In-Page Content Section Divider -->
    <div class="section-divider" id="service-repair-locations">
        <div class="container">
            <h1>Service and Repair Center Locations</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->
    <!-- Installations Map -->
    <div class="installations-map" id="installations">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <!--<img src="images/img-install-map-us.svg" alt="North America Map" />-->
                    <h3>North America</h3>
                    <p class="orange">Global Headquarters - Service, Repair and Manufacturing Center <span>Kenosha, Wisconsin</span></p>
                    <p class="orange">West Coast Service and Repair Center <span>Stockton, California</span></p>
                </div> <!-- /.column -->

                <div class="column">
                    <!--<img src="images/img-install-map-us.svg" alt="South America Map" />-->
                    <h3>Global</h3>
                    <p class="orange">Centrisys-do-Brazil Service and Repair Center <span>Indaiatuba, Brazil</span></p>
                    <p class="orange">Vortecnica Industrial S.A. Service and Repair Center <span>Buenos Aires, Argentina</span></p>
                    <p class="orange">Service and Repair Center <span>Plankstadt, Germany</span></p>
                    <p class="orange">Service and Repair Center <span>Huelva, Spain</span></p>
                    <p class="orange">Asia-Pacific Service and Repair Center <span>Chengdu, China</span></p>
                    <p class="orange">Viscotherm-Swiss Precision Service and Repair Center <span>Singapore</span></p>
                </div> <!-- /.column -->

                <div class="column">
                    <!--<img src="images/img-install-map-uk.svg" alt="Europe Map" />
                    <h3>Europe <span>1 Install</span></h3>-->
                </div> <!-- /.column -->

                <div class="column">
                    <!--<img src="images/img-install-map-china.svg" alt="China Map" />
                    <h3>China <span>2 Installs</span></h3>-->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.installations-map -->
</div>
