<script>
  var pageId = 23; //If modified, can be pulled from the Unique Id identifier in the page header
  var contentType = "page";
  var pageName = contentType + "_" + pageId;
  var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
  App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
  //Populate page data
  //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a class="navbar-item navbar-logo" href="#/">
          <!-- TODO: Grap an SVG and host local -->
          <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
      </a>

      <div class="scrolled-page-title is-vcentered">
          <div class="home-button-wrapper">
              <a href="#/"><div class="home-button"></div></a>
          </div> <!-- /.home-button-wrapper -->

          <div class="back-button-wrapper">
              <div class="back-button" ></div>
          </div> <!-- /.back-button-wrapper -->

          <div class="page-title-wrapper no-border">
              <h1>Installation - Sharjah Municipality Drainage Department</h1>
          </div> <!-- /.page-title-wrapper -->
      </div> <!-- /.scrolled-page-title -->

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <p class="menu-label-wrapper">Menu</p>
      </a>
  </div>

  <div id="main-navigation" class="navbar-menu">
      <div class="navbar-start">
          <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
          <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
          <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
          <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
          <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
          <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
          <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
          <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
          <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
          <a class="navbar-item" href="#/history">History</a>
      </div>
  </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
  <!-- Anchor Links in Secondary Nav -->
  <div class="secondary-navigation">
      <div class="container">
          <div class="columns is-vcentered">
              <div class="column page-title no-border">
                  <div class="columns is-vcentered">
                      <div class="column back-button-wrapper">
                          <div class="back-button"></div>
                      </div> <!-- /.column -->

                      <div class="column">
                          <h1>Installation - Sharjah Municipality Drainage Department</h1>
                      </div> <!-- /.column -->
                  </div> <!-- /.columns -->
              </div> <!-- /.column -->
          </div> <!-- /.columns -->
      </div> <!-- /.container -->
  </div> <!-- /.secondary-navigation -->
  <!-- image-gallery-left-text-right -->
  <div class="image-gallery-left-text-right">
      <div class="container">
          <div class="columns">
              <div class="column">
                  <div class="flexslider">
                      <ul class="slides">
                          <li>
                              <img src="images/thk/Sharjah UAE.svg" alt="Kenosha WI THK200" />
                          </li>
            <li>
                              <img src="images/thk/Sharjah UAE Water.svg" alt="Kenosha WI THK200 in DAF room" />
                          </li>
                          <li>
                              <img src="images/thk/Sharjah UAE Costs.svg" alt="Kenosha WI Performance Chart" />
                          </li>
                      </ul>
                  </div>
              </div> <!-- /.column -->

              <div class="column text-right">
                  <h1 class="product-overview-title border-bottom">Sharjah Municipality Drainage Department</h1>
                  <div class="product-overview-content">
                      <p>Location: <strong>Sharjah, United Arab Emirates</strong></p>
                      <p>Plant Size: <strong>79.25 MGD</strong></p>
                    <p>Installation: <strong>2020 (1) THK600 Sludge Thickener</strong>
                      <br><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2023 (1) THK600 Sludge Thickener</strong></p>
                      <ul>
                          <li>
                              OPERATING DATA:
                              <ul style="list-style-type:disc; margin-left:0px">
                                  <li class="list1 list4" style="margin-left:22px; margin-bottom: 8px;">Feed @ 0.5-1.0% TS</li>
                                  <li class="list1 list4" style="margin-left:22px; margin-bottom: 8px;">990 gpm design</li>
                                  <li class="list1 list4" style="margin-left:22px; margin-bottom: 8px;">98% capture</li>
                                  <li class="list1 list4" style="margin-left:22px; margin-bottom: 8px;">95% capture</li>
                                  <li class="list1 list4" style="margin-left:22px; margin-bottom: 8px;">0-1 lbs/ton polymer</li>
                                  <li class="list1 list4" style="margin-left:22px; margin-bottom: 8px;; margin-bottom: 8px;">0.09-0.11 kW/gpm</li>
                                  <li class="list1 list4" style="margin-left:22px; margin-bottom: 8px;; margin-bottom: 8px;">5% TS TWAS</li>
                              </ul>
                          </li>
                      </ul>

                      <p>
                        The city of Sharjah is undergoing a phase of rapid growth. The plant commissioned a sludge
                        thickening equipment upgrade to handle an increase in the plant’s capacity as the two aging GBTs
                        could not handle the increasing flows. The Centrisys THK was chosen because of its ability to
                        significantly reduce polymer consumption and process water and requires minimal operator
                        attention.
                      </p>

                      <p style="margin-bottom: 0px;"><strong>RESULTS</strong></p>
                      <ul style="list-style-type: disc; margin-left:22px; margin-bottom: 40px;">
                          <li class="list4">
                            (1) THK600 matched the throughput of (3) RDTs using less than 1/5th of the polymer
                          </li>
                          <li class="list4">
                            (1) THK600 used less than 5% (1/20th) of the polymer required for (6) GBTs and had a higher
                            TS output
                          </li>
                          <li class="list4">
                            The THK reduces the plant’s carbon footprint
                          </li>
                          <li class="list4">The 2023 THK600 installation will replace (6) GBTs</li>
                          <li>The THK can operate without polymer; the RDTs and GBTs require polymer to operate</li>
                          <li>The THK does not require continuous wash water compared to the RDTs and GBTs</li>
                      </ul>
                      <p style="margin-bottom: 0px;">4) The images for this installation are:</p>
                      <ul style="list-style-type: lower-alpha; margin-left: 70px;">
                        <li style="padding-left: 20px;">Sharjah-THK600</li>
                        <li style="padding-left: 20px;">Sharjah UAE</li>
                        <li style="padding-left: 20px;">Sharjah UAE Costs</li>
                        <li style="padding-left: 20px;">Sharjah UAE Water</li>
                      </ul>

                      <!-- Installations Nav -->
                      <div class="installations-nav">
                          <h3>More THK Installations</h3>

                          <div class="columns">
                              <div class="column">
                                  <a href="#/installation-san-antonio">
                                      <div class="installations-nav-wrapper left-arrow">
                                          <div class="vcenter">
                                              <p>Steven M. Clouse San Antonio Water System (SAWS)</p>
                                              <span>San Antonio, Texas</span>
                                          </div>
                                      </div>
                                  </a>
                              </div> <!-- /.column -->


              <div class="column">
                  <a href="#/installation-kenosha-2">
                      <div class="installations-nav-wrapper right-arrow">
                          <div class="vcenter">
                              <p>Kenosha Water Utility Wastewater Treatment Plant</p>
                              <span>Kenosha, Wisconsin</span>
                          </div>
                      </div>
                  </a>
              </div> 
                              <!-- /.column -->
                          </div> <!-- /.columns -->
                      </div> <!-- /.installations-nav -->
                  </div> <!-- /.column -->
              </div> <!-- /.columns -->
      </div> <!-- /.container -->
  </div> <!-- /.image-gallery-left-text-right -->


  <!-- Full Width Image Gallery Slider -->
  <!--<div class="full-width-slider">
      <div class="container">
          <div class="columns">
              <div class="column">
                  <div class="full-width-flexslider">
                      <ul class="slides">
                          <li>
                              <img src="images/07/17 Kenosha.jpg" alt="Kenosha" />
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>-->
</div>
<script>
  $(document).ready(function(){
      $(this).scrollTop(0);
  });
</script>