﻿<script>
    var pageId = 58; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    //App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    $("#pageVersionId").text("Static Generated");
    $("#statusBar").hide();
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>T Model</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->
        <div class="mobile-secondary-menu" style="max-width:750px;">
            <div class="nav-link">
                <p><a href="#/cs">CS Series Dewatering Centrifuge</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/hc-model">HC Model</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/dt-model">DT Model</a></p>
            </div> <!-- /.column -->

            <div class="nav-link">
                <p><a href="#/custom-solution">Customized Centrifuge Solutions</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title t-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button"></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>T Model</h1>
                        </div> <!-- /.column -->

                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/cs">CS Series Dewatering Centrifuge</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/hc-model">HC Model</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/dt-model">DT Model</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#/custom-solution">Customized Centrifuge Solutions</a></p>
                </div> <!-- /.column -->

            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    <!-- image-gallery-left-text-right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/cs/Schauenburg-MRT-Kuala-Lumpur-CS30-4.png" alt="Schauenburg MRT" />
                            </li>
                            <li>
                                <img src="images/cs/New-Park-Drilling-Mud-Fluids-Houston-TX-CS18-3.png" alt="New Park Drilling" />
                            </li>
                            <li>
                                <img src="images/cs/Somerset-Coal-CS30-4T-2.png" alt="Somerset Coal" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div>

                <div class="column text-right">
                    <h1 class="product-overview-title">T Model</h1>
                    <h2 class="product-overview-subtitle border-bottom">The Toughest Dewatering Centrifuge Designed for Demanding Environments</h2>
                    <div class="product-overview-content">
                        <p>
                            The Centrisys T Model is a best in class, 2-phase decanter centrifuge used for both
                            classification and clarification processes. A classifying decanter centrifuge is used
                            for particle sizing, discharging the coarse, heavy, and large particles in the
                            centrifuge solids' discharge area. Removal of the fine particles occurs at the
                            liquid-end in the centrate.  The Centrisys T Model used as a clarifying centrifuge
                            is a proven dewatering performer producing cleaner centrate and drier solids.
                        </p>
                        <p style="margin-bottom: 0px;"><strong>Centrifuge Optimization is Key to Improve Performance</strong></p>
                        <p>
                            The basics for a decanter centrifuge used for both clarifying and classifying are not new.
                            The key to optimal performance depends on the ongoing enhancement of the centrifuge design
                            and its critical parts. Enhanced durability is incorporated throughout the T Model,
                            from the most advanced wear protection for the scroll, tiles, bowl, feed nozzles,
                            and chambers as well as analyzing optimal pitch for the conical. The Centrisys T Model is
                            designed around the need for a centrifuge to withstand the harshest conditions.
                        </p>
                        <p style="margin-bottom:0px;"><strong>Features:</strong></p>
                        <ul style="list-style-type:disc; margin-left:22px;">
                            <li class="list1 list4">Optimized beach angle</li>
                            <li class="list1 list4">Shallow pool design</li>
                            <li class="list1 list4">Optimized scroll pitch</li>
                            <li class="list1 list4">Fully automatic operation</li>
                            <li class="list1 list4">Clarification and classification options</li>
                            <li class="list1 list4">Customized wear protection developed for the most rugged environmental conditions</li>
                            <li class="list1 list4">Engineered to convey high-density solids out of the centrifuge</li>
                            <li class="list1 list4">Highest-torque capabilities with the Rotodiff backdrive</li>
                            <li class="list1 list4">Gas-tight and explosion-proof for hazardous environments</li>
                            <li class="list1 list4">Skid mounted and mobile trailer design configurations</li>
                            <li class="list1 list4">Highest quality materials of construction – duplex stainless steel, tungsten carbide and ceramic liners</li>
                        </ul>
                    </div>
                    </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
    <!-- image-gallery-left-text-right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/cs/Baker-Hughes-CS18-3-Drilling-Mud.png" alt="Baker Hughes CS18" />
                            </li>
                            <li>
                                <img src="images/cs/Dynamic-Oilfield-Services-CS21-4T-Drilling-Mud.png" alt="Oilfield services" />
                            </li>
                            <li>
                                <img src="images/cs/West-Texas-CS18-3-FHD-Drilling-Mud.png" alt="West Texas CS18" />
                            </li>
                            <li>
                                <img src="images/cs/Austin-Water-Treatment-Plant-(3)-CS30-4T-Lime-Sludge.png" alt="Austin" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div>

                <div class="column text-right">
                    <h1>Tough. Reliable. Robust</h1>
                    <p style="margin-bottom:0px;"><strong>Benefits:</strong></p>
                    <ul style="list-style-type:disc; margin-left:22px;">
                        <li class="list1 list4">Increase production rates</li>
                        <li class="list1 list4">Improve dewatering results</li>
                        <li class="list1 list4">Improve centrate quality (clarification processes)</li>
                        <li class="list1 list4">Highest throughput capacities (classification processes)</li>
                        <li class="list1 list4">Reduce waste and disposal costs</li>
                        <li class="list1 list4">Real-time process flexibility</li>
                        <li class="list1 list4">Reliable performance</li>
                        <li class="list1 list4">Continuous operation</li>
                        <li class="list1 list4">Lower energy consumption</li>
                        <li class="list1 list4">Increase uptime</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
    <!-- image-gallery-left-text-right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/cs/CR_R-Environmental-Services-CS21-4T.png" alt="Environmental Services" />
                            </li>
                            <li>
                                <img src="images/cs/Gallo-CS21-4T.png" alt="Gallo CS21" />
                            </li>
                            <li>
                                <img src="images/cs/Columbia-River-Carbonates-CS18-3.png" alt="Columbia River Carbonates" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div>

                <div class="column text-right">
                    <h1>For Classification or Clarification of Inorganic Slurries</h1>
                    <p style="margin-bottom: 0px;"><strong>Applications:</strong></p>
                    <ul style="list-style-type:disc; margin-left:22px;">
                        <li class="list1 list4">Tunneling dewatering</li>
                        <li class="list1 list4">Micro-tunneling</li>
                        <li class="list1 list4">Drilling mud and fluid recovery</li>
                        <li class="list1 list4">Barite recovery</li>
                        <li class="list1 list4">Mining and minerals</li>
                        <li class="list1 list4">Tailings</li>
                        <li class="list1 list4">Mining and mineral fines and cuttings</li>
                        <li class="list1 list4">Blast furnace sludges</li>
                        <li class="list1 list4">Industrial waste sludges</li>
                        <li class="list1 list4">Kaolinite clay</li>
                        <li class="list1 list4">Fine coal dewatering</li>
                    </ul>
                </div>
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->
</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>