﻿<script>
    var pageId = 1; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    console.log("uhhh " + page_endpoint);
    App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components

    //Populate page data
    //App.populatePageData(pageName);
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered" syle="max-width:410px;">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->
            <div class="back-button-wrapper">
                <div class="back-button"></div>
             </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1 style="padding-right: 10px;">THK Series Sludge Thickener</h1>
            </div> <!-- /.page-title-wrapper -->
            <div class="mobile-secondary-menu">
                <div class="nav-link1"><!-- dymanic links based off of section-->
                    <p><a href="#thk-series-sludge-thickener-success-metrics">Performance Data</a></p>
                </div> <!-- /.column -->

                <div class="nav-link1">
                    <p><a href="#thk-series-sludge-thickener-videos">Videos</a></p>
                </div> <!-- /.column -->

                <div class="nav-link1">
                    <p><a href="#thk-series-sludge-thickener-installations">Installations</a></p>
                </div> <!-- /.column -->
            </div>
        </div> <!-- /.scrolled-page-title -->

        

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px;">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 74px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title thk-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button" ></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <!-- Page Title -->
                            <h1 id="pageTitle">THK Series Sludge Thickener</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link"><!-- dymanic links based off of section-->
                    <p><a href="#thk-series-sludge-thickener-success-metrics">Performance Data</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#thk-series-sludge-thickener-videos">Videos</a></p>
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#thk-series-sludge-thickener-installations">Installations</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->

    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div id="product-overview-gallery-flexslider" class="flexslider">
                        <ul id="product-overview-gallery" class="slides">
                            <li>
                                <img src="images/thk/Kenosha-WI-THK200-cap.png" alt="Kenosha WI THK200" />
                            </li>
                            <li>
                                <img src="images/thk/Beijing-THK600-cap.png" alt="Beijing THK600" />
                            </li>
                            <li>
                                <img src="images/thk/SAWS-TX-THK600-cap.png" alt="SAWS TX THK600" />
                            </li>
                            <li>
                                <img src="images/thk/UofFlorida-THK200-cap.png" alt="University of Florida THK200" />
                            </li>
                            <li>
                                <img src="images/thk/City-of-Wyoming-MI-THK350-cap.png" alt="Wyoming MI THK350" />
                            </li>
                            <li>
                                <img src="images/thk/Belvidere-IL-THK200-cap.png" alt="Belvidere IL THK200" />
                            </li>
                            <li>
                                <img src="images/thk/Green-Bay-WI-THK600-cap.png" alt="Green Bay WI THK600" />
                            </li>
                            <li>
                                <img src="images/thk/Whitewater-WI-THK200-cap.png" alt="Whitewater WI THK200" />
                            </li>
                            <li>
                                <img src="images/thk/THK-Series-Parts-Diagram.png" alt="THK Series Parts Diagram" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->

                <div class="column text-right">
                    <h1 class="product-overview-title">THK Series Sludge Thickener</h1>
                    <h2 class="product-overview-subtitle    border-bottom">The Lowest Total Cost of Ownership in the Industry</h2>
                    <div class="product-overview-content">
                        <p>
                            The THK sludge thickener is engineered for <b>high-performance biosolids thickening</b>.
                            Compared to other centrifugal sludge thickening technologies, the THK uses 50% less power, and dramatically reduces or even eliminates the need for polymer conditioning.
                            Thanks to these savings, the THK represents the lowest total cost of ownership in the industry.
                        </p>

                        <ul style="list-style-type:disc; margin-left:20px;">
                            <li>
                                <strong>Proven</strong> no polymer performance

                                <ul style="list-style-type:circle;" class="list4">
                                    <li class="list1"> Thickens from 4% to 6% without polymer</li>
                                    <li class="list1"> Minimizes foam in digester</li>
                                    <li class="list1"> Reduces carbon footprint</li>
                                </ul>
                            </li>
                            <li class="list4"><strong>50% less power consumption</strong> compared to other centrifugal sludge thickening technology</li>
                            <li class="list4">
                                <strong>All cylindrical/no conical design</strong> provides the greatest G-volume in comparison to other centrifuges of similar bowl diameter

                                <ul style="list-style-type:circle;">
                                    <li class="list1">THK200 = up to 250 gpm</li>
                                    <li class="list1">THK350 = up to 525 gpm</li>
                                    <li class="list1">THK600 = up to 1,100 gpm</li>
                                </ul>
                            </li>
                            <li class="list4">
                                Optimization is a simple, <strong>two-step approach</strong>

                                <ul style="list-style-type:circle;">
                                    <li class="list1">Basic tuning: customize results with independent control of liquids weir and solids weir</li>
                                    <li class="list1">Fine tuning: patented hydro-pneumatic control maintains solids to digester</li>
                                </ul>
                            </li>
                            <li class="list4">
                                <strong>Doubles</strong> the solids concentration:

                                <ul style="list-style-type:circle;">
                                    <li class="list1">Doubles the solids retention time in the digester or doubles the digester capacity</li>
                                    <li class="list1">Reduces digester heat requirement by 50% - only half of the flow needs to be heated to the digester ambient temperature of 100 °F (40 °C)</li>
                                    <li class="list1">Doubles digester capacity</li>
                                </ul>
                            </li>
                            <li class="list4">
                                <strong>Enclosed system</strong> increases hygienic operation and safety for operators

                                <ul style="list-style-type:circle;">
                                    <li class="list1">Reduces odors and gases, mainly H<sub>2</sub>S</li>
                                    <li class="list1">Eliminates transmission of pathogens because hosing down equipment is not necessary</li>
                                    <li class="list1">Minimizes an odor control system</li>
                                </ul>
                            </li>
                            <li><strong>Smallest footprint</strong> efficiently utilizes available plant space</li>
                        </ul>
                    </div>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->

    <!-- In-Page Content Section Divider -->
    <div class="section-divider" id="thk-series-sludge-thickener-success-metrics">
        <div class="container" >
            <h1>Performance Data</h1>   
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->

    <!-- Full Width Image Gallery Slider -->
    <div class="full-width-slider">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div id="performanceData" class="full-width-flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/thk/THK Performance Curve.svg" alt="Performance Curve" />
                            </li>
                        </ul>
                    </div> <!-- /.flexslider -->
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.full-width-slider -->

    <!-- In-Page Content Section Divider -->
    <div class="section-divider" id="thk-series-sludge-thickener-videos">
        <div class="container">
            <h1>Videos</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->

    <!-- Video Gallery -->
    <div class="video-gallery">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Thk Sludge Thickener Was-208.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/THK-Sludge-Thickener-WAS-thumb.png" alt="THK Sludge Thickener WAS" />
                        </a>
                    </div>

                    <h3>How a THK Sludge Thickener Works</h3>
                </div> <!-- /.column -->

                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Thk Vs Modified Centrifuge-210.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/THK-vs-Modified-Centrifuge-thumb.PNG" alt="THK vs Modified Centrifuge" />
                        </a>
                    </div>

                    <h3>THK Sludge Thickener is NOT a Modified Dewatering Centrifuge</h3>
                </div> <!-- /.column -->

                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Thk Cake Control Capabilities-207.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/THK-Cake-Control-Capabilities-thumb.PNG" alt="THK Cake Control Capabilities" />
                        </a>
                    </div>

                    <h3>THK Cake Control through the Patented Hydro-Pneumatic Capabilities </h3>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.video-gallery -->
    <!-- added -->
    <div class="video-gallery">
        <div class="container1">
            <div class="columns">
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Thk-Sludge-Thickening-Innovation.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/THK-Sludge-Thickening-Innovation-thumb.png" alt="THK Sludge Thickening Innovation" />
                        </a>
                    </div>

                    <h3>THK Sludge Thickening Innovation</h3>
                </div> 
            </div>
        </div>
    </div>

    <!-- In-Page Content Section Divider -->
    <div class="section-divider" id="thk-series-sludge-thickener-installations">
        <div class="container">
            <h1>Installations</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->

    <!-- Installations Map -->
    <div class="installations-map">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <!--<img src="images/img-install-map-us.svg" alt="North America Map" />-->
                    <h3>North America</h3>
                    <p><a href="#/installation-kenosha-2">Kenosha Water Utility Wastewater Treatment Plant</a> <span>Kenosha, Wisconsin</span></p>
                    <p><a href="#/installation-whitewater">Whitewater Wastewater Treatment Plant</a> <span>Whitewater, Wisconsin</span></p>
                    <p><a href="#/installation-wyoming">City of Wyoming Clean Water Plant</a> <span>Grandville, Michigan</span></p>
                    <p><a href="#/installation-gainesville">University of Florida</a> <span>Gainesville, Florida</span></p>
                    <p><a href="#/installation-san-antonio">Steven M. Clouse Water Recycling Center San Antonio Water System (SAWS)</a> <span>San Antonio, Texas</span></p>
                    <p class="orange">New Water Green Bay Metropolitan Sewer District <span>Green Bay, Wisconsin</span></p>
                    <p class="orange">Belvidere Wastewater Treatment Plant <span>Belvidere, Illinois</span></p>
                    <p class="orange">Fargo Water Treatment Facility <span>Fargo, North Dakota</span></p>
                    <p class="orange">Theresa Street Wastewater Treatment Facility <span>Lincoln, Nebraska</span></p>
                    <p class="orange">Central Valley Water Reclamation Facility <span>Salt Lake City, Utah</span></p>
                    <p class="orange">Hockanum River Water Pollution Control Facility <span>Manchester, New Hampshire</span></p>
                    <p class="orange">Wine Processing <span>West Coast, USA</span></p>
                    <p class="orange">Ethanol Processing <span>Midwest, USA</span></p>
                </div> <!-- /.column -->

                <div class="column">
                    <!--<img src="images/img-install-map-china.svg" alt="China Map" />-->
                    <h3>Global</h3>
                    <p class="orange"><a href="#/sharjah-municipality">Sharjah Municipality Drainage Department</a> <span>United Arab Emirates</span></p>
                    <p class="orange">GaoBieDian Wastewater Treatment Plant <span>Beijing, China</span></p>
                    <p class="orange">DingFuZhuang Wastewater Treatment Plant <span>Beijing, China</span></p>
                    <p class="orange">Beijing Daxing International Airport <span>Beijing, China</span></p>
                    <p class="orange">ZhengWangFen Wastewater Treatment Plant <span>Beijing, China</span></p>
                </div> <!-- /.column -->

                <div class="column">

                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.installations-map -->
</div>