﻿<script>
    var pageId = 29; //If modified, can be pulled from the Unique Id identifier in the page header
    var contentType = "page";
    var pageName = contentType + "_" + pageId;
    var page_endpoint = api_endpoint + "/items/page/" + pageId + "?fields=*.*";
    //App.handlePageContent(contentType, pageId, page_endpoint); //Get the parent page container, and iterate through the components
    $("#pageVersionId").text("Static Generated");
    $("#statusBar").hide();
</script>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="#/">
            <!-- TODO: Grap an SVG and host local -->
            <img src="images/centrisys-logo.svg" alt="Centrisys logo" class="home-logo">
        </a>

        <div class="scrolled-page-title is-vcentered">
            <div class="home-button-wrapper">
                <a href="#/"><div class="home-button"></div></a>
            </div> <!-- /.home-button-wrapper -->

            <div class="back-button-wrapper">
                <div class="back-button"></div>
            </div> <!-- /.back-button-wrapper -->

            <div class="page-title-wrapper no-border">
                <h1>KWU - THK Series Sludge Thickener (WAS)</h1>
            </div> <!-- /.page-title-wrapper -->
        </div> <!-- /.scrolled-page-title -->

        <div class="mobile-secondary-menu" style="max-width:150px;">
            <div class="nav-link">
                <p><a href="#thk-was-videos" class="orange">Videos</a></p>
            </div> <!-- /.column -->
        </div> <!-- /.mobile-secondary-menu -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <p class="menu-label-wrapper">Menu</p>
        </a>
    </div>

    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="home" href="#/">Wastewater Treatment to Resource Recovery</a>
            <a class="navbar-item" href="#/kenosha-resource-project">Kenosha Resource Recovery Map</a>
            <a class="navbar-item" href="#/cs">CS Series Dewatering Centrifuge</a>
            <a class="navbar-item" href="#/thk-series-sludge-thickener">THK Series Sludge Thickener</a>
            <a class="navbar-item" href="#/dlt-low-temp-belt-dryer">DLT Series Low-Temperature Belt Dryer</a>
            <a class="navbar-item" href="#/calprex">CalPrex<sup style="font-size:10px">&reg;</sup> Pre-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/magprex">MagPrex&trade; Post-Digestion P-Recovery</a>
            <a class="navbar-item" href="#/pondus">PONDUS&trade; Thermal Hydrolysis Process</a>
            <a class="navbar-item" href="#/service-repair">Service + Repair Capabilities</a>
            <a class="navbar-item" href="#/history">History</a>
        </div>
    </div>
</nav>

<!-- this inline style is just to temporarily kick the content down past the stick menu and should be removed -->
<div style="margin-top: 76px;">
    <!-- Anchor Links in Secondary Nav -->
    <div class="secondary-navigation">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column page-title thk-was-title">
                    <div class="columns is-vcentered">
                        <div class="column back-button-wrapper">
                            <div class="back-button" ></div>
                        </div> <!-- /.column -->

                        <div class="column">
                            <h1>KWU - THK Series Sludge Thickener (WAS)</h1>
                        </div> <!-- /.column -->
                    </div> <!-- /.columns -->
                </div> <!-- /.column -->

                <div class="nav-link">
                    <p><a href="#thk-was-videos" class="orange">Videos</a></p>
                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.secondary-navigation -->
    
    <!-- Image Gallery Left - Text Right -->
    <div class="image-gallery-left-text-right">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/KWU/Kenosha-WAS-THK.png" alt="Kenosha-WAS-THK" />
                            </li>
                            <li>
                                <img src="images/KWU/Kenosha Opt Digesters.svg" alt="kenosha digesters" />
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="column text-right">
                    <h1 class="product-overview-title border-bottom">THK Series Sludge Thickener (WAS)</h1>
                    <div class="product-overview-content">
                        <p>In 2011, Kenosha Water Utility (KWU) installed a Centrisys THK200 for waste activated sludge (WAS), which replaced four DAF units.</p>

                        <ul style="list-style-type:disc; margin-left:22px;" >
                            <li class="list4">Operated 24/7</li>
                            <li class="list4">Used no polymer, saving up to <strong>$25,000</strong> per year, compared to DAF which used 4 lbs/ton</li>
                            <li class="list4">Achieved 6-7% TS cake and <strong>95%</strong> capture</li>
                            <li style="margin-bottom:10px;">KWU avoided $100k in DAF repairs</li>
                        </ul>

                        <p>In 2015, as part of the Energy Optimization Project, the THK200 (WAS) was slightly modified.</p>

                        <ul style="list-style-type:disc; margin-left:22px;">
                            <li class="list4">Uses a low polymer dosage to keep grit in suspension</li>
                            <li class="list4">Produces <strong>6-7% TS</strong> thickened solids for PONDUS</li>
                            <li class="list4">
                                Reduced the digester volume from six to three digesters

                                <ul style="list-style-type: circle;">
                                    <li>Eliminated the need rehabilitate all six digesters</li>
                                </ul>
                            </li>
                        </ul>
                    </div> <!-- /.column -->
                    </div>
                </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.image-gallery-left-text-right -->

    <!-- In-Page Content Section Divider -->
    <div class="section-divider" id="thk-was-videos">
        <div class="container">
            <h1>Videos</h1>
        </div> <!-- /.container -->
    </div> <!-- /.section-divider -->

    <!-- Video Gallery -->
    <div class="video-gallery" id="videos">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="videos/Thk200 Was At Kwu-215.mp4">
                            <div class="video-overlay"></div>
                            <img src="videos/THK200-WAS-at-KWU-thumb.png" alt="THK200 WAS at KWU" />
                        </a>
                    </div>

                    <h3>How THK200 WAS Performs at KWU</h3>
                </div> <!-- /.column -->

                <div class="column">

                </div> <!-- /.column -->

                <div class="column">

                </div> <!-- /.column -->
            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div> <!-- /.video-gallery -->
</div>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>